@charset "utf-m";

$page: login;
$footBeBottom: 54px;
$field-spacer: 12px;


// import
// ------------------------------------------------------------
@import "core/function"; // (置頂)

@import "_admin/setting"; // 本專案變數要放在 variables上，可以覆蓋掉 variables 的值
@import "core/variables";
@import "core/mixins";

// output
@import "basic/base";
@import "basic/form";
@import "basic/btn";
@import "basic/util";

// 本專案 plugin
@import "_admin/layout";
// @import "_admin/modules"; // (置底)



// login
// ------------------------------------------------------------

// == header
.sub-copyright {
    @extend .mt-s;
    color: lighten(color(secondary), 15);
}

// == footer
#footer {
    @extend .pt-s, .mx-s;

    color: darken(color(muted), 20);
    font-size: em(13);
    letter-spacing: 1px;
    border-top: 1px solid $border-color;
}


// == login form
.login {
    @extend .center, .p-m, .bg-white;

    border: 1px solid $border-color;
    box-shadow: 0 0 10px $border-color;
    max-width: 450px;
    margin-top: 40px;
    padding-bottom: 0;
}

.title {
    @extend .mt-0, .pb-5;

    border-bottom: 1px solid $border-color;
}

.label {
    @extend .font-md;
}
.form-element {
    @extend .mb-m;
}

.action-bar {
    @extend .mt-30, .py-10;

    border-top: 1px solid rgba(#000, .03);
    background: tint(color(), 42);

    margin: rem(20) -#{map-get($spacers, m)} 0 -#{map-get($spacers, m)};
}