@charset "utf-8";

$page:          page;


// import
// ------------------------------------------------------------
@import "core/function"; // (置頂)

@import "_client/setting"; // 覆蓋下方的變數
@import "core/variables";
@import "core/mixins";

// output
@import "basic/base";
@import "basic/form";
@import "basic/btn";
@import "basic/util";

// plugin
@import "_client/layout";
@import "_client/modules";


// output
// ------------------------------------------------------------

// == 麵包屑
.breadcrumb {
    @extend %list-inline, .font-sm;

    a {
        @extend .py-2;

        color: $body-color;

        &:after {
            @extend .ml-5;
            content: '/';
        }
        &:active, &:hover {
            @extend .text-primary;
        }
    }
}
#banner {
    margin-top: -46px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .Team & {
        background-image: url(#{$img-path}/banner-team.jpg);
    }
    .Profession & {
        background-image: url(#{$img-path}/banner-profession.jpg);
    }
    .Special & {
        background-image: url(#{$img-path}/banner-special.jpg);
    }
    .ContactUs & {
        background-image: url(#{$img-path}/banner-contactus.jpg);
    }
}
.slogan {
    @extend .my-0, .font-normal;

    @include rem('font-size', 85);

    color: #404040;
    letter-spacing: .11em;
    line-height: 1.1;
    text-shadow: 1px 3px 0 rgba(#BFD8D7, .5);

    padding-top: 64px;
    padding-bottom: 40px;

    @include mq-max(md) {
        font-size: rem(64);
    }
    @include mq-max(sm) {
        font-size: rem(48);
    }
}

// == 團隊
.profile {
    @extend .bg-info;

    border-top: 3px solid color(info);

    .contents {
        padding: 32px 42px 50px;

        background: url(#{$img-path}/profile-bg.gif) 0 0 no-repeat;
    }
    .title {
        @extend .mt-0, .text-white, .font-normal;

        padding: 0 42px 8px;

        margin-left: -(42px);
        margin-right: -(42px);
    }
    // 左大標
    header {
        padding: 42px 16px;

        @include mq(md) {
            padding-top: 60px;
        }
    }
}
.side {
    @extend .text-center;

    @include mq($max-width + 1) {
        $width: $max-width*41.66/100;
        max-width: $width;
        position: relative;
        left: 100%;
        transform: translateX(-100%);

        .callus {
            margin-left: -30px; //暫時放，等後面有更好方法再換
        }
    }
    h1 {
        @extend .font-normal, .mt-0;

        @include rem('font-size', 72);
        letter-spacing: .46em;
    }
    small {
        @extend .mt-s;
        display: block;
        font-size: 50%;
        letter-spacing: .2em;
    }
}

.file-list {
    @extend .font-lg;

    // 學經歷小標
    h4 {
        @extend .my-0, .font-xl, .font-sp;

        @include mq(sm) {
            margin-right: 20px;
        }
    }
    ul {
        @extend .mb-30, .mt-10;
    }
    li {
        @extend .mb-10;
    }
}

// == 專欄
.article {
    @extend .pb-l, .mb-l;
    transition: .35s;

    &:not(:last-child) {
        border-bottom: 2px solid color(muted);
    }
    @include mq(md) {
        &:nth-last-child(2) {
            border-bottom: 0;
        }
    }

    &:hover {
        cursor: pointer;
    }

    p {
        line-height: 1.7;
    }
}
.header {
    @extend .font-sp, .font-xxl, .mb-s, .mt-0;
}
.author {
    @extend .font-normal, .mt-0, .font-lg;

    color: lighten($body-color, 32);
    position: relative;
    padding-left: 2.2em;

    @include el(before) {
        width: 1.8em;
        border-top: 1px solid $border-color;

        @include center(y);
        left: 0;
    }
}

// == 聯絡
.contacts {
    @extend .bg-muted;

    border-top: 3px solid color(info);
    line-height: 1.6;

    @include rem('font-size', 20);

    address {
        @extend .pl-l;
    }
}
.map {
    @include mq(sm) {
        height: 450px;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
}

// == 編輯器
.editor {
    line-height: 1.7;

    @include clearfix;
}
