
@{
    ViewBag.Title = "變更密碼";
    ViewBag.subnav = "Cog";
    ViewBag.subnav2 = "ChangPW";
}

@section Breadcrumb {
    <li>系統設定</li>
    <li>@ViewBag.Title</li>
}
    <div id="page_content"></div>
    <script src="~/Scripts/dist/changepw.js"></script>
