
@{
    ViewBag.Title = "變更密碼";
    ViewBag.subnav = "Cog";
    ViewBag.subnav2 = "ChangPW";
}

@section Breadcrumb {
    <li>系統設定</li>
    <li>@ViewBag.Title</li>
}

<form>
    <dl class="row padding">
        <dt class="col-2 text-right label">
            <sup class="help" title="必填">*</sup>
            舊密碼
        </dt>
        <dd class="col-7">
            <input type="password" class="form-element full" required>
        </dd>
    </dl>
    <dl class="row padding">
        <dt class="col-2 text-right label">
            <sup class="help" title="必填">*</sup>
            新密碼
        </dt>
        <dd class="col-7">
            <input type="password" class="form-element full" required>
        </dd>
    </dl>
    <dl class="row padding">
        <dt class="col-2 text-right label">
            <sup class="help" title="必填">*</sup>
            再次輸入新密碼
        </dt>
        <dd class="col-7">
            <input type="password" class="form-element full" required>
        </dd>
    </dl>

    <footer class="submit-bar">
        <button type="submit" class="btn success oi offset-sm-2" data-glyph="circle-check">確定儲存</button>
        <button type="button" class="btn cancel oi" data-glyph="circle-x">取消</button>
    </footer>
</form>

<script>


    $("#left .content").append($('<div class="list_category row" style="background - color: #fff; border: 1px solid #ddd; margin - left: 0px; margin - right: 0px; ">' +
        '<div class="col-sm-6" style="padding:0;">' +
        '<a href="https://pansci.asia/archives/flash/161085" title="終於有機會再站起來了嗎？最新研究發現，人工合成八醣體可修復脊髓神經元">' +
        '<img width="350" height="180" src="https://pansci.asia/wp-content/uploads/2019/05/38c80a98b77c2a0167762d8e6ff44a1c-350x180.jpg" class="imgf wp-post-image" alt="">' + '</a>' +
        '</div>' +

        '<div class="col-sm-6" style="padding:10px;">' +
        '<h3>' + '<a href="https://pansci.asia/archives/flash/161085">終於有機會再站起來了嗎？最新研究發現，人工合成八醣體...</a></h3>' +
        '<div class="date">' +
        '<a href="https://pansci.asia/archives/author/pansci" title="由 PanSci 發表" rel="author">PanSci</a>' +
        '<span class="glyphicon glyphicon-pencil" aria-hidden="true" style="color:#ccc"></span>2019/05/14</div>' +
        '<p>人的周圍神經系統（PNS，如：運動神經和感覺神經）在受傷之後，通常可慢慢修復。但<a class="imgf" href="https://pansci.asia/archives/flash/161085"> [...]</a></p>' +
        '</div>' +
        '</div>'))
       

</script>