
@{
    ViewBag.Title = "專欄管理";
    ViewBag.subnav = "Special";
}

@section Breadcrumb {
    <li>@ViewBag.Title</li>
}

<div id="page_content"></div>

<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckfinder/ckfinder.js"></script>
<script src="~/Scripts/dist/newsedit.js"></script>
