
@{
    ViewBag.Title = "專欄管理";
    ViewBag.subnav = "Special";
}

@section Breadcrumb {
    <li>@ViewBag.Title</li>
}


<div id="list_view">

</div>


<div id="page_content">

</div>

@*
    <nav class="btn-group mb-10">
        <button type="button" class="btn success oi" data-glyph="plus" onclick="location.href='@Url.Content("../Edit/1")'"> 新增</button>
    </nav>

    <header class="table-head">
        <label class="label">狀態</label>
        <select class="form-element">
            <option hidden>請選擇</option>
            <option value="A">全部</option>
            <option value="Y">上架</option>
            <option value="N">下架</option>
        </select>
        <input type="text" class="form-element" placeholder="請輸入關鍵字">
        <button class="btn oi" data-glyph="magnifying-glass" id="searchBtn">搜尋</button>
    </header>
    <table class="table-list table-hover table-striped">
        <colgroup>
            <col span="2">
            <col style="width: 40%">
            <col span="2" style="width: 140px">
        </colgroup>
        <thead>
            <tr>
                    <button class="th-sort-toggle"></button>
                    遞增 asc
                    <button class="th-sort-toggle asc"></button>
                    遞減 desc
                    <button class="th-sort-toggle desc"></button>
                <th class="item-edit">修改</th>
                <th>新增時間</th>
                <th class="text-left">標題</th>
                <th><button id="sortDisplayForFront" type="button" sort-type="" class="th-sort-toggle">上架狀態</button></th>
                <th><button id="sortIndex" sort-type="" type="button" class="th-sort-toggle">排序</button></th>
                <th class="text-left">修改時間</th>
                <th class="item-edit">刪除</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><button class="hover-primary oi" title="修改" data-glyph="pencil" type="button" onclick="location.href='@Url.Content("../Edit/1")'"></button></td>
                <td>2019-4-29</td>
                <td class="text-left">吐口水在坐墊上不行嗎</td>
                <td><span class="label-success">上架</span></td>
                <td></td>
                <td class="text-left">2019-4-29 13:00</td>
                <td><button class="hover-danger oi" title="刪除" type="button" data-glyph="trash"></button></td>
            </tr>
            <tr>
                <td><button class="hover-primary oi" title="修改" data-glyph="pencil" type="button" onclick="location.href='@Url.Content("../Edit/1")'"></button></td>
                <td>2019-4-28</td>
                <td class="text-left">何時建議食用？</td>
                <td><span class="label-muted">下架</span></td>
                <td></td>
                <td class="text-left">2019-4-29 13:00</td>
                <td><button class="hover-danger oi" title="刪除" type="button" data-glyph="trash"></button></td>
            </tr>
        </tbody>
    </table>

    <footer class="table-foot">
        <small class="pull-right">第 1 - 10 筆，共 100 筆</small>
        <nav class="pager">
            <button class="oi" data-glyph="media-step-backward" title="到最前頁" type="button" onclick="paginationSubmit('');"></button>
            <button class="oi" data-glyph="chevron-left" title="上一頁" type="button" onclick="paginationSubmit('');"></button>
            <span>第<input id="numPage" name="page" class="form-element" type="number" value="1">頁，共 10 頁</span>
            <button class="oi" data-glyph="chevron-right" title="下一頁" type="button" onclick="paginationSubmit('');"></button>
            <button class="oi" data-glyph="media-step-forward" title="到最後頁" type="button" onclick="paginationSubmit('')"></button>
        </nav>
    </footer>*@

<script src="~/Scripts/dist/newslist.js"></script>