@charset "UTF-8";

/*      layout
-----------------------------------------------------------------------*/
.wrap {
    @extend .center;

    max-width: $max-width;

    @include clearfix;

    @include mq-max(break($max-width, -1)) {
        @include rem('padding-left', $wrap-x-spacing);
        @include rem('padding-right', $wrap-x-spacing);
    }

    @if not $enable-RWD {
        @media only screen and (min-device-width: 1024px) {
            min-width: $min-width;
        }
    }
}

@if $footBeBottom {
    html, body {
        height: 100%;
    }
}
#wrapper {
    // 讓頁腳置底
    @if $footBeBottom {
        @if $lte7 { _height: 100%; }
        min-height: 100%;
        padding-bottom: $footer-height + $wrapper-b-spacing;
        // min-height: calc(100vh - #{$footer-height});
    }

    @if not $enable-RWD {
        @media only screen and (min-device-width: 1024px) {
            min-width: $min-width;
        }
    }

    // this proj only
}


// header
// ----------------------------------------------------------------------
#header {
    position: relative;
    z-index: z(header);

    // this proj only
    @include el(before) {
        position: absolute;
        width: 100%;
        height: 36px;
        background: #1a1a1a;
    }
}

.logo {
    cursor: pointer;

    // this proj only
    @if $page == index {
        @include text-pic('index/logo.png', 406px, 96px);
        @include center(x);
        top: 274px;

        @include mq-max(md) {
            max-width: 96%;
            background-size: contain;
            top: 140px;
        }
    }
    @if $page == page {
        @extend .font-sp, .my-10;
        @include rem('font-size', 27);

        font-weight: normal;
        letter-spacing: .15em;
        text-shadow: 0 0 .01em;

        @include mq($phone) {
            float: left;
        }
        @include mq(break($phone, -1)) {
            margin-bottom: 12px;
        }

        i {
            color: tint($body-color, 70);
            font-style: normal;
        }
        small {
            display: block;
            color: tint($body-color, 60);
            font-size: 48%;
            letter-spacing: .08em;
        }
    }
}

// 主選單
.nav-link {
    position: relative;
    display: inline-block;

    font-family: $font-family-sp2;
    letter-spacing: .2em;

    @include rem('font-size', 21);

    @include el(before) {
        @include center(x);
        top: -4px;
        border-top: 3px solid color(success);
        width: 0;
        opacity: 0;
        transition: width .35s, opacity .5s;
    }

    @include mq(sm) {
        margin-left: 15px;
        padding-left: 20px;
        padding-right: 13px;
    }
    @include mq-max(break(sm, -1)) {
        text-align: center;
        margin-right: -4px;
        width: 20%;
    }

    @if $page == index {
        @extend .text-white, .py-10;
    }
    @if $page == page {
        @extend .py-s;

        color: $body-color;

        &:hover {
            color: tint($body-color, 45);
        }

        @include mq($phone) {
            padding-top: 24px;
            padding-bottom: 24px;
        }
        @include mq($phone, break(sm, -1)) {
            width: calc(20% - 44px);
        }
    }

    &.active, &:hover {
        &:before {
            opacity: 1;
            width: 100%;
        }
    }
}

// 聯絡資訊
.head-info {
    @extend .font-sm;

    line-height: 36px;
    position: relative;
    z-index: 1;

    background: url(#{$img-path}/icon-phone.gif) 0 center no-repeat;
    padding-left: 24px;

    a {
        color: #fff;

        &:not(:last-child) {
            @include el(after, false, '/') {
                opacity: .4;
                margin: 0 5px 0 9px;
                font-size: 120%;
            }
        }

        &:hover {
            color: darken(#fff, 20);
        }
    }
}


// footer
// ----------------------------------------------------------------------

#footer {
    min-height: $footer-height;
    @if $footBeBottom { margin-top: -($footer-height); }
    position: relative;
    z-index: z(footer);

    // this proj only
    @extend .text-white, .text-center, .pt-30;

    background: color(secondary) url(#{$img-path}/icon-foot.gif) bottom center no-repeat;

    @include clearfix;

    @include mq-max(break($max-width, -1)) {
        @include rem('padding-left', $wrap-x-spacing);
        @include rem('padding-right', $wrap-x-spacing);
    }
}

.foot-info {
    @extend .font-lg;

    li {
        display: inline;

        &:not(:last-child) {
            @include el(after, false, '/') {
                opacity: .4;
                margin: 0 6px 0 14px;
                font-size: em(24, 18);
            }
        }
    }

    a {
        @extend .text-white;

        border-bottom: 0 dotted rgba(#fff, 0);
        transition: border-bottom .15s;

        &:hover, &:active {
            border-bottom: 1px dotted rgba(#fff, .5);
        }
    }
}

.copyright {
    @extend .font-sm;
    opacity: .5;
}
