@charset "UTF-8";

// == btn plug
// ------------------------------------------------------------
.btn {
    @if $page == page {
        @each $class, $color in (
            success: color(success),
            info:    color(info),
            warning: color(warning),
            danger:  color(danger)
        ) {
            &.#{$class} {
                background: $color;
                box-shadow: 0 2px 0 shade($color, 5);
                margin-top: -2px;

                // 自動反轉文字顏色
                @include color-contrast($color, $btn-color);

                &:hover, &:active {
                    background: darken($color, 5);
                }
                &:hover {
                    box-shadow: 0;
                }
            }
        }
    }
    &.outline {
        background-color: transparent;
        border: 1px solid $btn-bg;
        color: $btn-bg;
    }
    &:after {
        content: "\E5CC";
        color: inherit;
        font-family: 'Material Icons';

        @include center(y);
        right: 10px;

        opacity: 0;
        transition: $transition-duration*2;
    }
    &:hover, &:focus {
        text-indent: -10px;
        padding-right: $btn-padding-x + 10;

        &:after {
            opacity: 1;
        }
    }
}

// == custom (this proj add)
// ------------------------------------------------------------
.title {
    @extend .font-xxl;
    border-bottom: 3px solid color(muted);

    @if $page == page {
        letter-spacing: .05em;
    }
}

.font-sp {
    font-family: $font-family-sp2;
    font-weight: normal;
}

.more {
    letter-spacing: .1em;
    margin-left: -14px;

    @include el($display: inline-block, $content:null) {
        opacity: 0;
        transition: transform .35s, opacity $transition-duration;
    }
    &:before {
        @extend .mr-10;
        content: '[';
        transform: translate(20px);
    }
    &:after {
        @extend .ml-10;
        content: ']';
        transform: translate(-20px);
    }
    &:hover, &:focus {
        &:before, &:after {
            opacity: 1;
            transform: translate(0);
        }
    }
}

.callus {
    @extend .font-xl;

    display: inline-block;
    padding: 16px 48px 16px (48px + 36);

    border: 1px solid $border-color; //darken(color(muted), 7)
    background: url(#{$img-path}/icon-call.gif) 48px center no-repeat;
    color: $body-color;

    transition: $transition-duration*2;

    &:hover, &:focus, &:active {
        border-color: color();
        color: $body-color;
    }
}

.list {
    line-height: 1.5;
    border-top: 1px dashed $border-color;
    li {
        @extend .py-5;
        border-bottom: 1px dashed $border-color;
    }
}