@charset "UTF-8";

// == 這裡放自定義變數 + 覆寫 variables 裡的變數
// import 順序最好在 variables 前面。但如果要放後面的話，下面要覆寫的變數不能加 !default

$img-path:                '../images' !default;
$page:                    false !default; // index or page

// == color
// ----------------------------------------------------------------------
$colors: (
    primary:       #62B2C7,
    secondary:     #1A292E,
    success:       #34C0C7,
    info:          #62B2C7,
    warning:       #F79709,
    danger:        #ee5a24,
    muted:         #F2F2F2
);


// == ref: basic> custom
// ----------------------------------------------------------------------
$body-bg:                   #fff;
$body-color:                #333;
$font-family-sp:            'Yantramanav'; // https://fonts.google.com/
$font-family-sp2:           $font-family-sp, 'Noto Serif TC', serif;

// base
$headings:(
    h2: 36,
    h3: 27,
);

// btn
$btn-font-size:             17px;
$btn-height:                40px;
$btn-padding-x:             34px;
$btn-radius:                false;
$btn-stylus:                (position: relative);

// util
$font-size: (
    lg:  17,
    xl:  27,
    xxl: 34
);


// == layout
// ----------------------------------------------------------------------
// wrapper
$max-width:             1400px !default;
$min-width:             1020px !default;
$wrapper-b-spacing:     0 !default; // 與頁腳的間距
$wrap-x-spacing:        10px !default; // rwd時的左邊留空間距

// footer
$footBeBottom:          190px !default; // 頁腳是否置底 true / false
$footer-height:         if(type-of($footBeBottom) == number, $footBeBottom, false) !default;

// z-index
$z-index: (
    header:             3,
    main:               1,
    footer:             2,
    goTop:              99,
    overlay:            999,
);


// nav rwd
$mobile-menu-bk:        $min-width;