@{
    ViewBag.Title = "聯絡 CONTACT";
    ViewBag.BodyClass = "ContactUs";
    ViewBag.BreadCrumb = "聯絡";
}

<div id="banner" class="text-center">
    <h2 class="slogan">CONTACT <span class="text-primary">US</span></h2>
</div>

<section class="contacts clearfix">
    <div class="map col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.0924511783433!2d121.21709231500483!3d24.962968984005656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34682386dd752903%3A0x8dce53cdab46a4e4!2z55CG56ug5rOV5b6L5LqL5YuZ5omA!5e0!3m2!1szh-TW!2stw!4v1557467753264!5m2!1szh-TW!2stw" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <address class="col-md-6 font-norm pt-m">
        <dl>
            <dt class="pull-xs-left font-sp">電話：</dt>
            <dd class="rest">
                <a href="tel:034265825">03-4265825</a>（呂浩瑋律師）<br>
                <a href="tel:034265925">03-4265925</a>（張晶瑩律師）
            </dd>
        </dl>
        <dl>
            <dt class="pull-xs-left font-sp">傳真：</dt>
            <dd class="rest">03-4265625</dd>
        </dl>
        <dl>
            <dt class="pull-xs-left font-sp">地址：</dt>
            <dd class="rest"><a href="https://goo.gl/maps/xC61dfyLPwfs4Vi3A" target="new">桃園市中壢區元化路二段126號10樓</a></dd>
        </dl>
    </address>
</section>




<!--小圖板-->
<div class="right_300x250 hidden-xs" style="width:300px;height:auto;position:relative;border:1px solid #ccc;">
    <div>
        <div>
            <div class="attribution"
                 style="background-color: #fff;
                    border-radius: 2px;
                    box-shadow: 0 1px 2px rgba(0,0,0,.5);
                    font-size: 13px;
                    left: 4px;
                    padding-left: 3px;
                    padding-right: 3px;
                    position: absolute;
                    top: 4px;
                    color: #777;">廣告</div>

            <div class="image"
                 style="
                    width:50%;
                    display: flex;
                    float: left;
                    width: 50%;">
                <a href="{{clickUrl}}" target="_blank"
                   style="
                    color: #343434;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 1.2;
                    text-decoration: none;
                    ">
                    <img style="width:100%;"
                         src="{{imgUrl}}" />
                </a>
            </div>
            <div class="title"
                 style="
                    display: table-cell;
                    height: 30px;
                    padding-bottom: 10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 10px;
                    vertical-align: middle;
    ">
                <a href="{{clickUrl}}" target="_blank"
                   style="
    color: #343434;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;">{{title}}</a>
            </div>
            <div class="advertiser"
                 style="text-align: left;">
                <a class="advertiser-link" href="{{clickUrl}}" target="_blank"
                   style="
top: -15px;
    color: #a2a2a2;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 10px;
    position: relative;
    ">{{title}}</a>
            </div>
            <div class="body" style="padding:10px;">
                <a href="{{clickUrl}}" target="_blank"
                   style="
    color:#707070;
    text-decoration:none;">{{description}}</a>
            </div>
        </div>
    </div>
</div>




<div class="right_300x250 hidden-xs" style="width:300px;max-height:250px;position:relative;border:1px solid #ccc;">
    <div>
        <div>
            <div class="attribution"
                 style="background-color: #fff;
                    border-radius: 2px;
                    box-shadow: 0 1px 2px rgba(0,0,0,.5);
                    font-size: 13px;
                    left: 4px;
                    padding-left: 3px;
                    padding-right: 3px;
                    position: absolute;
                    top: 4px;
                    color: #777;">廣告</div>

            <div class="image"
                 style="width:100%;">
                <a href="{{clickUrl}}" target="_blank"
                   style="
                    color: #343434;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 1.2;
                    text-decoration: none;
                    ">
                    <img style="width:100%;"
                         src="{{imgUrl}}" />
                </a>
            </div>
            <div class="advertiser"
                 style="text-align: left;">
                <a class="advertiser-link" href="{{clickUrl}}" target="_blank"
                   style="
    color: #a2a2a2;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 10px;
    position: relative;
    ">{{title}}</a>
            </div>
            <div class="body" style="
    overflow:hidden;
white-space: nowrap;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
white-space: normal;
    
    margin-top:3px; padding: 0 5px 0 5px;">
                <a href="{{clickUrl}}" target="_blank"
                   style="
    color:#707070;
    text-decoration:none;">{{description}}</a>
            </div>
        </div>
    </div>
</div>