@{
    ViewBag.Title = "領域 WE CAN DO IT";
    ViewBag.BodyClass = "Profession";
    ViewBag.BreadCrumb = "領域";
}

<div id="banner" class="text-center">
    <h2 class="slogan">WE CAN <span class="text-primary">DO IT</span></h2>
</div>

<section class="wrap padding">
    <article class="mb-70">
        <h3 class="title text-success font-xxxl">領域</h3>
        <ul class="list-unstyled list mb-30">
            <li>一般民商案件、不動產糾紛案件、土地分割案件、三七五組約糾紛、車禍糾紛</li>
            <li>一般刑事案件、水土保持案件、少年案件、</li>
            <li>一般家事案件、繼承與遺產案件、離婚案件、監護權、給付扶養費、遺產管理人、契約、離婚協議、遺囑、繼承分割協議書之審閱與撰擬</li>
            <li>法院裁定、公示催告、除權判決、假扣押、強制執行</li>
            <li>契約之審閱與撰擬、法律顧問</li>
            <li>土地、建物之移轉登記、抵押權設定、繼承登記、拋棄繼承、限定繼承、協議分割之繼承登記</li>
        </ul>
        <a href="tel:034265825" class="callus center" title="聯絡律師">(03) 426-5825</a>
    </article>
    @*
        <article class="col-md-6 mb-70">
            <h3 class="title font-xxxl">呂浩瑋 <small>主持律師</small></h3>
            <h4 class="font-xxl text-success font-sp my-m">領域</h4>
            <ul class="list-unstyled list mb-30">
                <li>一般民商案件、不動產糾紛案件、土地分割案件、三七五組約糾紛、車禍糾紛</li>
                <li>一般刑事案件、水土保持案件、少年案件、</li>
                <li>一般家事案件、繼承與遺產案件、離婚案件、監護權、給付扶養費、遺產管理人、契約、離婚協議、遺囑、繼承分割協議書之審閱與撰擬</li>
                <li>法院裁定、公示催告、除權判決、假扣押、強制執行</li>
                <li>契約之審閱與撰擬、法律顧問</li>
                <li>土地、建物之移轉登記、抵押權設定、繼承登記、拋棄繼承、限定繼承、協議分割之繼承登記</li>
            </ul>
            <a href="tel:034265825" class="callus center" title="聯絡呂律師">(03) 426-5825</a>
        </article>
        <article class="col-md-6 mb-70">
            <h3 class="title font-xxxl">張晶瑩 <small>主持律師</small></h3>
            <h4 class="font-xxl text-success font-sp my-m">領域</h4>
            <ul class="list-unstyled list mb-30">
                <li>一般民商案件、不動產糾紛案件、土地分割案件、三七五組約糾紛、車禍糾紛</li>
                <li>一般刑事案件、少年案件</li>
                <li>一般家事案件、繼承與遺產案件、離婚案件、監護權、給付扶養費、遺產管理人、契約、離婚協議、遺囑、繼承分割協議書之審閱與撰擬</li>
                <li>法院裁定、公示催告、除權判決、假扣押、強制執行</li>
                <li>契約之審閱與撰擬、法律顧問</li>
                <li>土地、建物之移轉登記、抵押權設定、繼承登記、拋棄繼承、限定繼承、協議分割之繼承登記</li>
            </ul>
            <a href="tel:034265925" class="callus center" title="聯絡張律師">(03) 426-5925</a>
        </article>*@
</section>