@{
    ViewBag.Title = "團隊 WHO WE ARE";
    ViewBag.BodyClass = "Team";
    ViewBag.BreadCrumb = "團隊";
}

<div id="banner" class="text-center">
    <h2 class="slogan">WHO WE <span class="text-primary">ARE</span></h2>
</div>

<section id="p1" class="profile flexs-md">
    <header class="flex-md-6 flex-lg-5 bg-white">
        <div class="side">
            <h1>呂浩瑋<small>主持律師</small></h1>
            <a href="tel:034265825" class="callus">(03) 426-5825</a>
        </div>
    </header>
    <article class="flex-md-6 flex-lg-7 contents">
        <h3 class="title">PROFILE</h3>
        <div class="file-list clearfix">
            <h4 class="pull-sm-left">學歷</h4>
            <ul class="list-unstyled rest">
                <li>國立臺北大學法學碩士</li>
                <li>國立臺北大學法學士</li>
            </ul>
        </div>
        <div class="file-list clearfix">
            <h4 class="pull-sm-left">經歷</h4>
            <ul class="list-unstyled rest">
                <li>理章法律事務所主持律師</li>
                <li>長興法律事務所（原呂理胡律師事務所）律師</li>
                <li>財團法人法律扶助基金會臺北、士林、新北、桃園分會扶助律師</li>
                <li>桃園市政府法律顧問</li>
                <li>印田實業股份有限公司法律顧問</li>
                <li>兆德營照有限公司法律顧問</li>
            </ul>
        </div>
    </article>
</section>
<section id="p2" class="profile flexs-md">
    <header class="flex-md-6 flex-lg-5 bg-white">
        <div class="side">
            <h1>張晶瑩<small>主持律師</small></h1>
            <a href="tel:034265925" class="callus">(03) 426-5925</a>
        </div>
    </header>
    <article class="flex-md-6 flex-lg-7 contents">
        <h3 class="title">PROFILE</h3>
        <div class="file-list clearfix">
            <h4 class="pull-sm-left">學歷</h4>
            <ul class="list-unstyled rest">
                <li>中原大學財經法律學系碩士</li>
                <li>國立臺北大學財經法律系學士</li>
            </ul>
        </div>
        <div class="file-list clearfix">
            <h4 class="pull-sm-left">經歷</h4>
            <ul class="list-unstyled rest">
                <li>理章法律事務所主持律師</li>
                <li>財團法人法律扶助基金會桃園分會家事專科扶助律師</li>
                <li>桃園市政府法律顧問</li>
                <li>長興法律事務所（原呂理胡律師事務所）律師</li>
                <li>臺灣臺南地方法院書記官</li>
            </ul>
        </div>
    </article>
</section>