
@{
    ViewBag.Title = "專欄 WHO PROVIDE A VOICE";
    ViewBag.BodyClass = "Special";
    ViewBag.BreadCrumb = "專欄";
}

<div id="banner" class="text-center">
    <h2 class="slogan">WHO PROVIDE <span class="text-primary">VOICE</span></h2>
</div>

<article class="wrap mt-xl">
    <h3 class="header">吐口水在坐墊上不行嗎？</h3>
    <h4 class="author">呂浩瑋 <small class="date">2019-5-10 update</small></h4>
    <div class="editor pt-m pb-xl">
        <p>有一則新聞是這樣的，某地院法官助理因為不滿鄰居小孩太吵，雙方協調不成後，竟每日趁無人之時在鄰居機車座墊上吐口水，直到鄰居不堪其擾裝設監視器才發現此事。</p>
        <p>姑且不論有無公然侮辱的問題（這是另一件複雜的事情），單就吐口水在機車座墊上是否會構成刑法上所謂毀損罪？我們先翻開條文來看，刑法第354條規定：「毀棄、損壞前二條以外之他人之物或致令不堪使用，足以生損害於公眾或他人者，處二年以下有期徒刑、拘役或五百元以下罰金。」從本案事實來看，吐口水這個行為並不會造成機車座墊毀棄、損壞（口水沒有這麼酸吧？），所以我們的重點要擺在什麼叫做「致令不堪使用」。</p>
        <p>依照最高法院47年台非字第34號判例要旨，是「以使所毀損之物，失其全部或一部之效用為構成要件」，因此如果行為人在別人家的鐵門潑紅漆，雖然曾經有法院認為，住宅鐵門的通常效用在於隔間之用途，潑漆並不影響鐵門的效用，但是依照近年的實務見解，大部分還是認為潑漆會使得鐵門喪失美觀效用，而會成立毀損罪（當然通常會另涉及有無恐嚇危害安全罪嫌）。</p>
        <p>回過頭來看本件吐口水的行為，機車座墊的通常效用應該就是輔助機車的使用，讓你的屁屁在騎車的時候不會痛，所以個人認為吐口水並不會影響此一功能，應不構成毀損罪。但是必須強調，雖然不構成毀損罪，還是有成立公然侮辱罪或是強制罪的可能，當然這必須依照個案來認定。</p>
        <p>附帶一提，蛋洗別人家大門的行為呢？因為基本上蛋液不會造成鐵門不能使用，洗一洗就跟新的一樣了，所以並不會構成毀損罪；但這邊要強調，如果是蛋洗設備，造成設備短路不能使用，那結果就不一樣了，所以丟雞蛋或是吐口水之前還是勸大家要注意丟擲或吐口水的客體（喂~結論這樣對嗎？!）</p>
    </div>
</article>
<footer class="wrap text-center mb-60">
    <a href="~/Special/List/1" class="btn outline">回列表</a>
</footer>