@{
    ViewBag.Title = "專欄 WHO PROVIDE A VOICE";
    ViewBag.BodyClass = "Special";
    ViewBag.BreadCrumb = "專欄";
}

<div id="banner" class="text-center">
    <h2 class="slogan">WHO PROVIDE <span class="text-primary">VOICE</span></h2>
</div>
<div id="page_content"></div>
<footer class="wrap text-center mb-60">
    <a href="~/Special/List" class="btn outline">回列表</a>
</footer>
<script src="~/Scripts/dist/newsdetails.js"></script>