
@{
    ViewBag.Title = "專欄 WHO PROVIDE A VOICE";
    ViewBag.BodyClass = "Special";
    ViewBag.BreadCrumb = "專欄";
}

<div id="banner" class="text-center">
    <h2 class="slogan">WHO PROVIDE <span class="text-primary">VOICE</span></h2>
</div>

<section class="article-list wrap padding mt-xl">
    <article class="col-md-6 article">
        <h3 class="header">吐口水在坐墊上不行嗎？</h3> @* 文字不限 *@
        <h4 class="author">呂浩瑋 <small class="date">2019-5-10 update</small></h4>
        <p class="font-lg">有一則新聞是這樣的，某地院法官助理因為不滿鄰居小孩太吵，雙方協調不成後，竟每日趁無人之時在鄰居機車座墊上吐口水...</p> @* 文字最多抓60字 *@
        <a href="~/Special/Details/1" class="font-sm more">READ MORE</a>
    </article>
    @* 迴圈
    <article class="col-md-6 article">
        <h3 class="header">吐口水在坐墊上不行嗎？</h3>
        <h4 class="author">呂浩瑋 <small class="date">2019-5-10 update</small></h4>
        <p class="font-lg">有一則新聞是這樣的，某地院法官助理因為不滿鄰居小孩太吵，雙方協調不成後，竟每日趁無人之時在鄰居機車座墊上吐口水...</p>
        <a href="~/Special/Details/1" class="font-sm more">READ MORE</a>
    </article>
    <article class="col-md-6 article">
        <h3 class="header">吐口水在坐墊上不行嗎？</h3>
        <h4 class="author">呂浩瑋 <small class="date">2019-5-10 update</small></h4>
        <p class="font-lg">有一則新聞是這樣的，某地院法官助理因為不滿鄰居小孩太吵，雙方協調不成後，竟每日趁無人之時在鄰居機車座墊上吐口水...</p>
        <a href="~/Special/Details/1" class="font-sm more">READ MORE</a>
    </article>
    <article class="col-md-6 article">
        <h3 class="header">吐口水在坐墊上不行嗎？</h3>
        <h4 class="author">呂浩瑋 <small class="date">2019-5-10 update</small></h4>
        <p class="font-lg">有一則新聞是這樣的，某地院法官助理因為不滿鄰居小孩太吵，雙方協調不成後，竟每日趁無人之時在鄰居機車座墊上吐口水...</p>
        <a href="~/Special/Details/1" class="font-sm more">READ MORE</a>
    </article>
    <article class="col-md-6 article">
        <h3 class="header">吐口水在坐墊上不行嗎？</h3>
        <h4 class="author">呂浩瑋 <small class="date">2019-5-10 update</small></h4>
        <p class="font-lg">有一則新聞是這樣的，某地院法官助理因為不滿鄰居小孩太吵，雙方協調不成後，竟每日趁無人之時在鄰居機車座墊上吐口水...</p>
        <a href="~/Special/Details/1" class="font-sm more">READ MORE</a>
    </article>
    <article class="col-md-6 article">
        <h3 class="header">吐口水在坐墊上不行嗎？</h3>
        <h4 class="author">呂浩瑋 <small class="date">2019-5-10 update</small></h4>
        <p class="font-lg">有一則新聞是這樣的，某地院法官助理因為不滿鄰居小孩太吵，雙方協調不成後，竟每日趁無人之時在鄰居機車座墊上吐口水...</p>
        <a href="~/Special/Details/1" class="font-sm more">READ MORE</a>
    </article> *@
</section>