@{
    ViewBag.Title = "專欄 WHO PROVIDE A VOICE";
    ViewBag.BodyClass = "Special";
    ViewBag.BreadCrumb = "專欄";
}

<div id="banner" class="text-center">
    <h2 class="slogan">WHO PROVIDE <span class="text-primary">VOICE</span></h2>
</div>
<div id="list_view"></div>

<script src="~/Scripts/dist/newslistfront.js"></script>