@charset "UTF-8";

/*      layout
-----------------------------------------------------------------------*/
.wrap {
    @include clearfix;

    @if not $enable-RWD {
        @media only screen and (min-device-width: 1024px) {
            min-width: $min-width;
        }
    }
    @else {
        @include mq-max(break($max-width, -1)) {
            @include rem('padding-left', $gutter);
            @include rem('padding-right', $gutter);
        }
    }
}

#wrapper {
    // 讓頁腳置底
    @if $footBeBottom {
        min-height: calc(100vh - #{$footer-height});
    }

    @if not $enable-RWD {
        @media only screen and (min-device-width: 1024px) {
            min-width: $min-width;
        }
    }

    @if $page == login {
        padding-top: 3.5%;
    }
}

// header
// ----------------------------------------------------------------------
#header {
    @if $header-bg     { background: $header-bg; }
    @if $header-height { height: $header-height; }
    z-index: z(header);

    // this proj only
    padding-right: $gutter;
    padding-left: $gutter;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.site-title {
    @extend .my-0;

    letter-spacing: .08em;

    // this proj
    @if $page == login {
        color: rgba(#000, .7);
        text-shadow: 2px 1px 0 rgba(#000, .07);
    }

    @if $page == admin {
        @extend .text-white;
        line-height: $header-height;

        $font-size: $header-height - (10*2);
        @include rem('font-size', $font-size);
    }
}

// 右上方資訊選單(回首頁,登出等)
.navbar {
    margin-top: ($header-height - (15*1.2))/2;

    .nav-link {
        @extend .text-white;

        display: inline-block;
        vertical-align: top;

        // @include rem('font-size', 17);

        &:hover {
            color: rgba(#fff, .75);
        }
    }

    .dropdown-content {
        @extend .font-md;

        min-width: 160px;
        right: 0;
    }
}


// main
// ----------------------------------------------------------------------
#main {
    @extend .text-left;
    padding: $header-height $gutter 76px ($sidebar-width + $gutter);
}


// sidebar
// ----------------------------------------------------------------------
#sidebar {
    @extend .text-left;

    z-index: z(sidebar);
    position: fixed;
    left: 0;
    top: $header-height;
    width: $sidebar-width;
    height: 100%;
    background: $sidebar-theme-color;

    // this proj
    box-shadow: 0 1px 1px rgba(#000, .1);
    overflow-y: auto;

    a { display: block; }

    $left-padding: 16px;
    $nav-border-color: color(muted);
    $nav-active-border-color: color();

    .collapse-toggle,
    > a {
        border-left: 4px solid $nav-border-color;
        padding: 12px 8px 12px $left-padding;

        color: shade($nav-active-border-color, 15);
        @include rem('font-size', 18);

        &:before {
            @extend .mr-10;

            color: lighten($nav-border-color, 2);
        }
        &:hover, &:active, &:focus, &.active {
            background: shade($body-bg, 2.5);
            border-color: tint($nav-active-border-color, 25);
        }
        &:active, &:focus, &.active {
            color: $body-color;
        }
    }

    // 伸縮
    .collapse {

        &-toggle {
            cursor: pointer;
            position: relative;
            transition: .3s ease;

            .arrow {
                position: absolute;
                top: 19px;
                right: 12px;
                border-color: darken($nav-border-color, 8);
            }

            &.active {
                .arrow {
                    border-color: $nav-active-border-color;
                    transform: rotate(-135deg);
                }
            }
        }

        &-content {
            display: none;
            border-left: 4px solid tint($nav-border-color, 12);
            background: tint($body-bg, 1);
            box-shadow: inset 1px 1px 2px rgba(#000, .1);

            &.in {
                display: block;
            }

            $subnav-acitve-bg: color(warning);

            a {
                @extend .font-md, .text-secondary;

                padding: 8px 8px 8px $left-padding;

                &:hover, &:active, &:focus {
                    background: rgba($subnav-acitve-bg, .4);
                }
                &.active {
                    color: darken(color(secondary), 12);
                    background: rgba($subnav-acitve-bg, .8);
                }
            }
        }
    }
}

