@charset "UTF-8";

// == btn plug
// ------------------------------------------------------------
.btn {
    @each $class, $color in (
        success:   shade(color(success), 12),
        info:      color(info),
        warning:   color(warning),
        danger:    color(danger),
        cancel:    #999
    ) {
        &.#{$class} {
            background: $color;
            box-shadow: 0 2px 0 shade($color, 5);
            margin-top: -2px;

            // 自動反轉文字顏色
            // @include color-contrast($color, $btn-color);

            &:hover, &:active {
                background: darken($color, 5);
            }
            &:hover {
                box-shadow: 0;
            }
        }
    }
}


// == form control plug (radio,checkbox)
// ------------------------------------------------------------
// 使用方法 1
// <input class="checkbox" type="checkbox" id="c1" name="checkbox">
// <label for="c1" class="icon"></label>

// 使用方法 2 > 有字的時候用
// <label class="control-group">
//     <input class="radio" type="radio" name="r1">
//     <i class="icon"></i> 選項
// </label>

$icon: '.icon';
$controls-color: shade(color(warning), 8);
$controls-size: $input-height*.8;

// comm
.checkbox, .radio {
    position: absolute;
    opacity: 0;
    visibility: hidden;

    + #{$icon} {
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        outline: none;
        user-select: none;
        margin: 0;
        transition: $transition-duration, background ease-in-out .2s;

        // this proj
        @if $input-bg { background: $input-bg; }
        border: 1px solid $input-border-color;
        text-align: center;
        width: $controls-size;
        height: $controls-size;
    }

    &:hover + #{$icon} {
        border-color: $controls-color;
    }

    &[disabled] + #{$icon} {
        @extend .bg-muted;
        cursor: $cursor-disabled;
    }
}

// 各別設定(換圖及調大小)
.checkbox {
    + #{$icon} {
        @if $input-radius { border-radius: $input-radius; }

        // font icon
        &:before {
            opacity: 0;
            color: $controls-color;
            line-height: $controls-size;

            @include center;
        }
    }
    &:hover + #{$icon}:before {
        opacity: 0.6;
    }
    &:checked {
        + #{$icon} {
            border-color: $controls-color;
            background: $controls-color;
            &:before {
                opacity: 1;
                color: if($input-bg, $input-bg, #fff);
            }
        }
    }
}
.radio {
    + #{$icon} {
        @extend .circle;
    }
    &:checked {
        + #{$icon} {
            box-shadow: 0 0 0 3px rgba($controls-color, .45), 0 0 0 1px $controls-color;
            border: 3px solid if($input-bg, $input-bg, #fff);
            background: $controls-color;
        }
    }
}

// 方法2
%congroup-all {
    cursor: pointer;
    line-height: $controls-size;

    #{$icon} { margin-right: .1em; }
}
.control-group {
    @extend %congroup-all;

    display: inline-block;

    &:not(:last-of-type) { margin-right: em($gutter)*.6; }

    &-stacked {
        @extend %congroup-all;

        display: block;

        &:not(:last-of-type) { margin-bottom: em($gutter)*.6;}
    }
}

// == 開關式 checkbox
// 使用方法
// <label class="switch">
//   <input type="checkbox">
//   <div class="slider round"></div>
// </label>
.slider {
    cursor: pointer;
    background-color: $input-border-color;
    border-radius: $controls-size;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: $input-transition;

    @include el(before) {
        position: absolute;
        left: 2px;
        bottom: 2px;
        transition: $transition-duration;

        height: $controls-size;
        width: $controls-size;
        background-color: white;
        border-radius: 50%;
    }
}
.switch {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: ($controls-size + 4)*1.5;
    height: $controls-size + 4;

    input {
        display: none;

        &:checked + .slider {
            background: $controls-color;
            box-shadow: inset 1px 1px 1px darken($controls-color,12);
            &:before {
                transform: translateX($controls-size*0.63);
            }
        }
        &:focus + .slider {
            box-shadow: 0 0 1px $controls-color;
        }
    }
}


// == custom (this proj add)
// ------------------------------------------------------------
.arrow {
    display: inline-block;
    border: solid color(success);
    border-width: 0 2px 2px 0;
    padding: 4px;
    transition: .35s ease;

    &.right { transform: rotate(-45deg); }
    &.left  { transform: rotate(135deg); }
    &.up    { transform: rotate(-135deg); }
    &.down  { transform: rotate(45deg); }
}

.dropdown {
    position: relative;

    &-content {
        @extend .bg-white, .text-left;

        position: absolute;
        top: 110%;

        box-shadow: 1px 3px 10px rgba(#000, .2);
        z-index: 1;

        &.search-box {

            min-width: 300px;
            padding: 8px 8px 0;

            .select {
                overflow-y: auto;
                max-height: 280px;
                margin-left: -8px;
                margin-right: -8px;
            }
        }
    }

    .arrow {
        @extend .ml-s;

        border-color: inherit;
        position: relative;
        top: -4px;
    }
    a {
        @extend .text-primary, .p-s;

        display: block;

        &:hover, &.active {
            background: tint(color(), 80);
        }
    }
    hr {
        @extend .my-0;
    }
}

// label
[class*=label-] {
    @extend .font-sm;

    border-radius: 2px;
    display: inline-block;
    padding: .2em .3em;

    &:not(:only-child) { margin: .2em; }
}
[class*=panel-] {
    @extend .p-5;
    line-height: 1.5;
}

// label + panel theme
@each $theme, $color in (
    // 淺色系 contract() => 當指定色的亮度<>於 $luminance(亮度)時，就 light(變亮)/dark(變暗)
    success:  contract(color(success), light, 50),
    info:     contract(color(info), light, 68),
    warning:  tint(color(warning), 56),
    danger:   contract(color(danger), light, 50),
) {
    .label-#{$theme}, .panel-#{$theme} {
        background: $color;
        color: shade($color, 58);
        border: 1px solid shade($color, 7.5);
    }
}
.label-muted {
    $color: color(muted);

    background: $color;
    color: contract($color, dark, 80);
    border: 1px solid shade($color, 7.5);
}
