@charset "UTF-8";

// == 這裡放自定義變數 + 覆寫 variables 裡的變數
// import 順序最好在 variables 前面。但如果要放後面的話，下面要覆寫的變數不能加 !default

$img-path:                '../images' !default;
$page:                    false !default; // admin, login

// == color
// ----------------------------------------------------------------------

$colors: (
    primary:       #7199A8,
    secondary:     #7F9086,
    success:       #71BF50,
    info:          #529DCB,
    warning:       #F3CC4F,
    danger:        #E85E31,
    muted:         #D6CFC4
);

// == ref: basic> custom
// ----------------------------------------------------------------------
$body-bg:                   tint(color(muted), 85) !default;
$font-family-sp:            'Montserrat'; // https://fonts.google.com/specimen/Noto+Sans

$component-active:          lighten(color(), 10) !default;

// table
$table-bg-striped:          #FbFbF9;
$table-bg-hover:            darken($body-bg, 4.5);
$table-pd:                  .4em .3em;

$input-radius:              false;


// == layout
// ----------------------------------------------------------------------
// wrapper
$max-width:             1400px !default;
$min-width:             1200px !default;

// footer
$footBeBottom:          false !default; // 頁腳是否置底 true / false
$footer-height:         if(type-of($footBeBottom) == number, $footBeBottom, false) !default;

// header
$header-height:         46px !default;
$header-bg:             color() !default;

// sidebar
$sidebar-width:         220px;
$sidebar-theme-color:   #fff;

// z-index
$z-index: (
    header:             6,
    main:               1,
    footer:             2,
    sidebar:            4,
    logo:               10,
    menu:               20,
    tooltip:            100,
    goTop:              99,
    overlay:            999,
);