@charset "UTF-8";

// == 這裡放自定義變數 + 覆寫 variables 裡的變數
// import 順序最好在 variables 前面。但如果要放後面的話，下面要覆寫的變數不能加 !default

$img-path:                '../images';

// == color
// ----------------------------------------------------------------------

$colors: (
    primary:       #0e6868,
    secondary:     #F7E885,
    success:       #ACD157,
    info:          #408BAA,
    warning:       #FFE66D,
    danger:        #e26d5c,
    muted:         #F4F6F4
);

$pale-theme: (
    success:       contract(color(success), light, 50),
    info:          contract(color(info), light, 68),
    warning:       tint(color(warning), 56),
    danger:        contract(color(danger), light, 50),
);

$btn-theme: (
    success:       shade(color(success), 12),
    info:          color(info),
    warning:       color(warning),
    danger:        color(danger),
    cancel:        #999
);


// == ref: basic> custom
// ----------------------------------------------------------------------
$body-bg:                   lighten(color(muted), 2);
$font-family-sp:            'Montserrat'; // https://fonts.google.com/specimen/Noto+Sans

$component-active:          lighten(color(), 10) !default;

// table
$table-bg-striped:          #FbFbF9;
$table-bg-hover:            darken($body-bg, 4.5);
$table-pd:                  .4em .3em;

$input-radius:              false;


// == layout
// ----------------------------------------------------------------------
// wrapper
$max-width:             1400px !default;
$min-width:             1200px !default;
$footBeBottom:          true !default; // 頁腳是否置底 true / false

// header
$header-height:         46px !default;
$header-bg:             linear-gradient(90deg, color(secondary), darken(color(warning), 10)) !default;

// sidebar
$sidebar-width:         220px;
$sidebar-theme-color:   #fff;

// z-index
$z-index: (
    header:             6,
    main:               1,
    footer:             2,
    sidebar:            4,
    logo:               10,
    menu:               20,
    tooltip:            100,
    goTop:              99,
    overlay:            999,
);