@charset "UTF-8";
html {
  box-sizing: border-box;
  font-family: "Montserrat", 微軟正黑體, "微軟正黑體", "Microsoft JhengHei", "游明朝体", YuMincho, "游明朝", "Yu Mincho", "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

body {
  margin: 0 auto;
  background: #fafbfa;
  color: #4d4d4d;
  letter-spacing: 0.03em;
}

main {
  display: block;
}

h1 {
  font-size: 36px;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 1.25em 0;
  border: 0;
  border-top: 1px solid #ddd;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

a {
  background-color: transparent;
  color: #0e6868;
  text-decoration: none;
  transition: color 0.35s, background 0.3s;
}
a:hover {
  color: #052525;
}
a:not([href]):not([tabindex]) {
  color: inherit;
}
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

b, strong, .b, .strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  vertical-align: middle;
  border-style: none;
}

button {
  background: none;
  border: none;
}
button:focus {
  outline: 0;
}

button, input, optgroup, select, textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}

button, input {
  overflow: visible;
}
button[disabled], input[disabled] {
  cursor: not-allowed;
}

button, select {
  text-transform: none;
}

button,
[type=button],
[type=reset], [type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
}

dd {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
}
table.fixed {
  table-layout: fixed;
  word-wrap: break-word;
  word-break: break-all;
}

th, td {
  text-align: center;
  vertical-align: middle;
  padding: 0.35em 0.3em;
  border: 1px solid #ddd;
  border-width: 0 0 1px;
}

thead {
  border-bottom: 2px solid #ddd;
}
thead th, thead td {
  border-width: 0;
}

tbody + tbody {
  border-top: 2px solid #ddd;
}

.table-bordered, .table-list {
  border: 1px solid #ddd;
}
.table-bordered th, .table-list th, .table-bordered td, .table-list td {
  border-width: 1px;
}
.table-striped :not(thead) tr:nth-child(even) {
  background-color: #FbFbF9;
}
.table-hover tbody:hover > tr > [rowspan],
.table-hover tbody tr:hover {
  background-color: #edf0ed;
  transition: 0.2s ease;
}

.form-element {
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 0;
  height: 1.75em;
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 0.267em 0.374em;
  color: #4d4d4d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-element::-ms-expand {
  background-color: transparent;
  border: 0;
  display: none;
}
.form-element:focus {
  outline: 0;
  border-color: #149595;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(20, 149, 149, 0.3);
}
.form-element:focus:invalid {
  border-color: #e26d5c;
  box-shadow: 0 0 0 0.2rem rgba(226, 109, 92, 0.3);
}
.form-element::placeholder {
  color: #b3b3b3;
  opacity: 1;
}
.form-element:disabled, [readonly].form-element {
  background-color: #F4F6F4;
  opacity: 1;
}
@media (max-width: 47.999em) {
  .form-element {
    width: 100%;
  }
}

select.form-element {
  padding-right: 2em;
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 8'%3e%3cpath fill='%23b3b3b3' d='M5.716 7.121l5.697-5.686-1.413-1.416-4.284 4.303-4.303-4.322-1.413 1.416 5.716 5.705z'/%3e%3c/svg%3e") no-repeat right 6px center/10px 12px;
}
select.form-element[size], select.form-element[multiple] {
  height: auto;
}
select.form-element:focus::-ms-value {
  background-color: #fff;
  color: #4d4d4d;
}

textarea.form-element {
  height: auto;
}

.label {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: inherit;
}

.form-stacked .form-element, .form-stacked .label {
  display: block;
  margin-bottom: 0.46875em;
  width: 100%;
}
.form-stacked .form-element.inline {
  display: inline;
  width: auto;
}
.form-stacked .form-element.inline:not(:last-child) {
  margin-right: 0.3em;
}
.form-msg-inline {
  display: inline-block;
  vertical-align: middle;
}

.field {
  margin-bottom: 0.9375em;
}
@media (min-width: 48em) {
  .field .label {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
    padding-right: 0.5em;
    width: 10em;
    text-align: right;
  }
  .field input, .field select {
    vertical-align: middle;
    margin-bottom: 4px;
  }
  .field textarea {
    vertical-align: top;
  }
  .field .form-msg-inline {
    margin-left: 10em;
  }
  .field + .submits {
    margin: 0.46875em 0 0 10em;
  }
}

.help {
  cursor: help;
}

.input-group {
  display: flex;
}
.input-group-addon, .input-group-btn {
  border: 1px solid #ddd;
  white-space: nowrap;
}
.input-group-addon {
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 0.267em 0.374em;
  color: #4d4d4d;
  background-color: #fff;
}
.input-group-btn {
  background-color: #f7f7f7;
}
.input-group-btn:hover {
  background-color: #f2f2f2;
}
.input-group-btn:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.input-group .form-element {
  flex: 1 1 auto;
  width: 1%;
}
.input-group .form-element select.input-group .form-element {
  width: auto;
}
.input-group .form-element:focus, .input-group-addon:focus, .input-group-btn:focus {
  z-index: 1;
}
.input-group .form-element:last-child:not(:only-child), .input-group .form-element:not(:first-child):not(:last-child), .input-group-addon:last-child:not(:only-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:last-child:not(:only-child), .input-group-btn:not(:first-child):not(:last-child) {
  margin-left: -1px;
}
.input-group.input-inline {
  display: inline-flex;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  background: #0e6868;
  color: #fff;
  border-radius: 0.25em;
  transition: 0.15s;
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 0.333em 0.811em;
  letter-spacing: 0.06em;
}
.btn:hover, .btn:active, .btn:focus {
  background: #0a4d4d;
  color: #fff;
}
.btn:focus {
  outline: 0;
}
.btn:disabled, .btn.disabled {
  cursor: not-allowed;
  opacity: 0.65;
  background: #F4F6F4;
  color: #494a49;
}
.btn:not(:disabled):not(.disabled):focus {
  box-shadow: 0 0 0 0.2rem rgba(20, 149, 149, 0.3);
}
.btn:not(:disabled):not(.disabled):active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
}
.btn-stacked > .btn {
  display: block;
  width: 100%;
}
.btn-stacked > .btn:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.btn-group {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
}
.btn-group > .btn {
  letter-spacing: normal;
  vertical-align: top;
}
.btn-group > .btn:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-group > .btn:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group-stacked > .btn {
  display: block;
  width: 100%;
  max-width: 100%;
}
.btn-group-stacked > .btn:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-group-stacked > .btn:not(:first-child) {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.btn-group-stacked > .btn:not(:last-child) {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.sr-only-focusable, .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.pager:after, .wrap:after, .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.pull-left, .uploaded {
  float: left;
}

.pull-right {
  float: right;
}

@media (min-width: 48em) {
  .pull-sm-left {
    float: left;
  }

  .pull-sm-right {
    float: right;
  }
}
@media (min-width: 64em) {
  .pull-md-left {
    float: left;
  }

  .pull-md-right {
    float: right;
  }
}
@media (min-width: 75em) {
  .pull-lg-left {
    float: left;
  }

  .pull-lg-right {
    float: right;
  }
}
.clear {
  clear: both;
}

.rest {
  overflow: hidden;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.img-center {
  display: block;
  margin: auto;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.circle, .radio + .icon {
  border-radius: 50%;
}

.hidden {
  display: none;
}

.disabled {
  cursor: not-allowed;
}

.full {
  width: 100%;
}

.max-full {
  max-width: 100%;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0, .breadcrumb {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.my-0, .list-line, .dropdown hr, .site-title {
  margin-top: 0;
  margin-bottom: 0;
}

.m-s {
  margin: 0.5rem;
}

.mt-s, .uploaded {
  margin-top: 0.5rem;
}

.mr-s {
  margin-right: 0.5rem;
}

.mb-s {
  margin-bottom: 0.5rem;
}

.ml-s, .title small, .dropdown .arrow {
  margin-left: 0.5rem;
}

.mx-s, .pager span {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.my-s {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-m {
  margin: 1rem;
}

.mt-m {
  margin-top: 1rem;
}

.mr-m {
  margin-right: 1rem;
}

.mb-m {
  margin-bottom: 1rem;
}

.ml-m {
  margin-left: 1rem;
}

.mx-m {
  margin-right: 1rem;
  margin-left: 1rem;
}

.my-m {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-l {
  margin: 1.5rem;
}

.mt-l {
  margin-top: 1.5rem;
}

.mr-l {
  margin-right: 1.5rem;
}

.mb-l, .title {
  margin-bottom: 1.5rem;
}

.ml-l {
  margin-left: 1.5rem;
}

.mx-l {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.my-l {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-xl {
  margin: 3rem;
}

.mt-xl {
  margin-top: 3rem;
}

.mr-xl {
  margin-right: 3rem;
}

.mb-xl {
  margin-bottom: 3rem;
}

.ml-xl {
  margin-left: 3rem;
}

.mx-xl {
  margin-right: 3rem;
  margin-left: 3rem;
}

.my-xl {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m-2 {
  margin: 0.125rem;
}

.mt-2 {
  margin-top: 0.125rem;
}

.mr-2 {
  margin-right: 0.125rem;
}

.mb-2 {
  margin-bottom: 0.125rem;
}

.ml-2 {
  margin-left: 0.125rem;
}

.mx-2 {
  margin-right: 0.125rem;
  margin-left: 0.125rem;
}

.my-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.m-5 {
  margin: 0.3125rem;
}

.mt-5 {
  margin-top: 0.3125rem;
}

.mr-5, .uploaded {
  margin-right: 0.3125rem;
}

.mb-5, .list-link > li, .input-file .upload:not(:empty), .list-line li:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.ml-5 {
  margin-left: 0.3125rem;
}

.mx-5, .pager input {
  margin-right: 0.3125rem;
  margin-left: 0.3125rem;
}

.my-5 {
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.m-10 {
  margin: 0.625rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mr-10, #sidebar .collapse-toggle:before,
#sidebar > a:before {
  margin-right: 0.625rem;
}

.mb-10, .topBtn-bar, .title h2 {
  margin-bottom: 0.625rem;
}

.ml-10 {
  margin-left: 0.625rem;
}

.mx-10 {
  margin-right: 0.625rem;
  margin-left: 0.625rem;
}

.my-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.m-15 {
  margin: 0.9375rem;
}

.mt-15 {
  margin-top: 0.9375rem;
}

.mr-15 {
  margin-right: 0.9375rem;
}

.mb-15 {
  margin-bottom: 0.9375rem;
}

.ml-15 {
  margin-left: 0.9375rem;
}

.mx-15 {
  margin-right: 0.9375rem;
  margin-left: 0.9375rem;
}

.my-15 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.m-20 {
  margin: 1.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mx-20 {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

.my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-30 {
  margin: 1.875rem;
}

.mt-30 {
  margin-top: 1.875rem;
}

.mr-30 {
  margin-right: 1.875rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.ml-30 {
  margin-left: 1.875rem;
}

.mx-30 {
  margin-right: 1.875rem;
  margin-left: 1.875rem;
}

.my-30 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.m-60 {
  margin: 3.75rem;
}

.mt-60 {
  margin-top: 3.75rem;
}

.mr-60 {
  margin-right: 3.75rem;
}

.mb-60 {
  margin-bottom: 3.75rem;
}

.ml-60 {
  margin-left: 3.75rem;
}

.mx-60 {
  margin-right: 3.75rem;
  margin-left: 3.75rem;
}

.my-60 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.m-70 {
  margin: 4.375rem;
}

.mt-70 {
  margin-top: 4.375rem;
}

.mr-70 {
  margin-right: 4.375rem;
}

.mb-70 {
  margin-bottom: 4.375rem;
}

.ml-70 {
  margin-left: 4.375rem;
}

.mx-70 {
  margin-right: 4.375rem;
  margin-left: 4.375rem;
}

.my-70 {
  margin-top: 4.375rem;
  margin-bottom: 4.375rem;
}

.p-0, .th-sort-toggle {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-s, .list-link a, .table-list caption, .table-head, .dropdown a {
  padding: 0.5rem;
}

.pt-s {
  padding-top: 0.5rem;
}

.pr-s {
  padding-right: 0.5rem;
}

.pb-s {
  padding-bottom: 0.5rem;
}

.pl-s {
  padding-left: 0.5rem;
}

.px-s {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.py-s, .list-link a:before {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-m {
  padding: 1rem;
}

.pt-m {
  padding-top: 1rem;
}

.pr-m {
  padding-right: 1rem;
}

.pb-m {
  padding-bottom: 1rem;
}

.pl-m {
  padding-left: 1rem;
}

.px-m {
  padding-right: 1rem;
  padding-left: 1rem;
}

.py-m {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-l {
  padding: 1.5rem;
}

.pt-l {
  padding-top: 1.5rem;
}

.pr-l {
  padding-right: 1.5rem;
}

.pb-l {
  padding-bottom: 1.5rem;
}

.pl-l {
  padding-left: 1.5rem;
}

.px-l {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.py-l {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-xl {
  padding: 3rem;
}

.pt-xl {
  padding-top: 3rem;
}

.pr-xl {
  padding-right: 3rem;
}

.pb-xl {
  padding-bottom: 3rem;
}

.pl-xl {
  padding-left: 3rem;
}

.px-xl {
  padding-right: 3rem;
  padding-left: 3rem;
}

.py-xl {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.p-2 {
  padding: 0.125rem;
}

.pt-2 {
  padding-top: 0.125rem;
}

.pr-2 {
  padding-right: 0.125rem;
}

.pb-2 {
  padding-bottom: 0.125rem;
}

.pl-2 {
  padding-left: 0.125rem;
}

.px-2, .pager button {
  padding-right: 0.125rem;
  padding-left: 0.125rem;
}

.py-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.p-5 {
  padding: 0.3125rem;
}

.pt-5 {
  padding-top: 0.3125rem;
}

.pr-5 {
  padding-right: 0.3125rem;
}

.pb-5, .list-line li:not(:last-child) {
  padding-bottom: 0.3125rem;
}

.pl-5 {
  padding-left: 0.3125rem;
}

.px-5 {
  padding-right: 0.3125rem;
  padding-left: 0.3125rem;
}

.py-5 {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.p-10 {
  padding: 0.625rem;
}

.pt-10 {
  padding-top: 0.625rem;
}

.pr-10, .th-sort-toggle {
  padding-right: 0.625rem;
}

.pb-10, .title {
  padding-bottom: 0.625rem;
}

.pl-10 {
  padding-left: 0.625rem;
}

.px-10 {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.py-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.p-15 {
  padding: 0.9375rem;
}

.pt-15 {
  padding-top: 0.9375rem;
}

.pr-15 {
  padding-right: 0.9375rem;
}

.pb-15 {
  padding-bottom: 0.9375rem;
}

.pl-15 {
  padding-left: 0.9375rem;
}

.px-15 {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.py-15 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.p-20 {
  padding: 1.25rem;
}

.pt-20 {
  padding-top: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.px-20 {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-30 {
  padding: 1.875rem;
}

.pt-30 {
  padding-top: 1.875rem;
}

.pr-30 {
  padding-right: 1.875rem;
}

.pb-30 {
  padding-bottom: 1.875rem;
}

.pl-30 {
  padding-left: 1.875rem;
}

.px-30 {
  padding-right: 1.875rem;
  padding-left: 1.875rem;
}

.py-30 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.p-60 {
  padding: 3.75rem;
}

.pt-60 {
  padding-top: 3.75rem;
}

.pr-60 {
  padding-right: 3.75rem;
}

.pb-60 {
  padding-bottom: 3.75rem;
}

.pl-60 {
  padding-left: 3.75rem;
}

.px-60 {
  padding-right: 3.75rem;
  padding-left: 3.75rem;
}

.py-60 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.p-70 {
  padding: 4.375rem;
}

.pt-70 {
  padding-top: 4.375rem;
}

.pr-70 {
  padding-right: 4.375rem;
}

.pb-70 {
  padding-bottom: 4.375rem;
}

.pl-70 {
  padding-left: 4.375rem;
}

.px-70 {
  padding-right: 4.375rem;
  padding-left: 4.375rem;
}

.py-70 {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.text-left, .table-list caption, .dropdown-content, #sidebar, #main {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center, .list-link a:before, .submit-bar.fixed-bottom, .pager input, .pager {
  text-align: center;
}

.text-nowrap {
  white-space: nowrap;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.font-normal {
  font-style: normal;
}

@media (min-width: 48em) {
  .text-sm-left {
    text-align: left;
  }

  .text-sm-right {
    text-align: right;
  }

  .text-sm-center {
    text-align: center;
  }
}
@media (min-width: 64em) {
  .text-md-left {
    text-align: left;
  }

  .text-md-right {
    text-align: right;
  }

  .text-md-center {
    text-align: center;
  }
}
@media (min-width: 75em) {
  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

  .text-lg-center {
    text-align: center;
  }
}
.font-tiny {
  font-size: 12px;
  font-size: 0.75rem;
}

.font-sm, .uploaded .btn-del i, .uploaded, .pager, .table-head, .breadcrumb, [class*=label-] {
  font-size: 14px;
  font-size: 0.875rem;
}

.font-md, #sidebar .collapse-content a, .navbar {
  font-size: 15px;
  font-size: 0.9375rem;
}

.font-lg, .uploaded .btn-del {
  font-size: 18px;
  font-size: 1.125rem;
}

.font-xl {
  font-size: 24px;
  font-size: 1.5rem;
}

.font-xxl {
  font-size: 32px;
  font-size: 2rem;
}

.font-xxxl {
  font-size: 48px;
  font-size: 3rem;
}

.font-jumbo {
  font-size: 64px;
  font-size: 4rem;
}

.list-line, .list-unstyled, .breadcrumb, .list-inline {
  list-style: none;
  padding-left: 0;
}

.breadcrumb > li, .list-inline > li {
  display: inline-block;
}
.breadcrumb > li:not(:last-child), .list-inline > li:not(:last-child) {
  margin-right: 5px;
}

.text-white, .pager button:not([disabled]):hover, .pager button:not([disabled]):active, .th-sort-toggle, .table-list thead, .table-list > th, #sidebar .collapse-content a.active {
  color: #fff;
}

.bg-white, .pager button:not([disabled]), .table-list, .dropdown-content {
  background: #fff;
}

.text-primary, .title, .dropdown a, #sidebar .collapse-content a, .hover-primary {
  color: #0e6868;
}

a.text-primary:hover, a.title:hover, .dropdown a:hover, #sidebar .collapse-content a:hover, a.text-primary:focus, a.title:focus, .dropdown a:focus, #sidebar .collapse-content a:focus, .hover-primary:hover, .hover-primary:focus {
  color: #0c5858;
}

.bg-primary {
  background: #0e6868;
}

.text-secondary, .hover-secondary {
  color: #F7E885;
}

a.text-secondary:hover, a.text-secondary:focus, .hover-secondary:hover, .hover-secondary:focus {
  color: #d2c571;
}

.bg-secondary {
  background: #F7E885;
}

.text-success, .hover-success {
  color: #ACD157;
}

a.text-success:hover, a.text-success:focus, .hover-success:hover, .hover-success:focus {
  color: #92b24a;
}

.bg-success {
  background: #ACD157;
}

.text-info, .hover-info {
  color: #408BAA;
}

a.text-info:hover, a.text-info:focus, .hover-info:hover, .hover-info:focus {
  color: #367691;
}

.bg-info {
  background: #408BAA;
}

.text-warning, .hover-warning {
  color: #FFE66D;
}

a.text-warning:hover, a.text-warning:focus, .hover-warning:hover, .hover-warning:focus {
  color: #d9c45d;
}

.bg-warning {
  background: #FFE66D;
}

.text-danger, .uploaded .btn-del, .help, .hover-danger {
  color: #e26d5c;
}

a.text-danger:hover, .uploaded a.btn-del:hover, a.help:hover, a.text-danger:focus, .uploaded a.btn-del:focus, a.help:focus, .hover-danger:hover, .hover-danger:focus {
  color: #c05d4e;
}

.bg-danger {
  background: #e26d5c;
}

.text-muted, .hover-muted {
  color: #F4F6F4;
}

a.text-muted:hover, a.text-muted:focus, .hover-muted:hover, .hover-muted:focus {
  color: #cfd1cf;
}

.bg-muted, .checkbox[disabled] + .icon, .radio[disabled] + .icon {
  background: #F4F6F4;
}

.underline, .title {
  border-bottom: 1px solid #ddd;
}

.bordered {
  border: 1px solid;
}

.help {
  color: #e26d5c;
  cursor: help;
}

/*      layout
-----------------------------------------------------------------------*/
@media (max-width: 87.4375em) {
  .wrap {
    padding-left: 16px;
    padding-left: 1rem;
    padding-right: 16px;
    padding-right: 1rem;
  }
}

#header {
  background: linear-gradient(90deg, #F7E885, #ffdd3a);
  height: 46px;
  z-index: 6;
  padding-right: 16px;
  padding-left: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.site-title {
  cursor: pointer;
  letter-spacing: 0.08em;
  line-height: 46px;
  font-size: 26px;
  font-size: 1.625rem;
  color: rgba(0, 0, 0, 0.65);
}

.navbar {
  margin-top: 14px;
}
.navbar .nav-link {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  font-size: 1.0625rem;
}
.navbar .nav-link:hover {
  color: #a19756;
}
.navbar .dropdown-content {
  min-width: 160px;
  right: 0;
}

#main {
  padding: 46px 16px 76px 236px;
}

#sidebar {
  z-index: 4;
  position: fixed;
  left: 0;
  top: 46px;
  width: 220px;
  height: 100%;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
#sidebar a {
  display: block;
}
#sidebar .collapse-toggle,
#sidebar > a {
  border-left: 4px solid #F4F6F4;
  padding: 12px 8px 12px 16px;
  font-size: 18px;
  font-size: 1.125rem;
}
#sidebar .collapse-toggle:before,
#sidebar > a:before {
  color: #dee4de;
}
#sidebar .collapse-toggle:hover, #sidebar .collapse-toggle:active, #sidebar .collapse-toggle:focus, #sidebar .collapse-toggle.active,
#sidebar > a:hover,
#sidebar > a:active,
#sidebar > a:focus,
#sidebar > a.active {
  background: #f4f5f4;
  border-color: #ACD157;
}
#sidebar .collapse-toggle:active, #sidebar .collapse-toggle:focus, #sidebar .collapse-toggle.active,
#sidebar > a:active,
#sidebar > a:focus,
#sidebar > a.active {
  color: #92b24a;
}
#sidebar > a {
  color: #4d4d4d;
}
#sidebar .collapse-toggle {
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
}
#sidebar .collapse-toggle .arrow {
  position: absolute;
  top: 18px;
  right: 12px;
  border-color: #dee4de;
}
#sidebar .collapse-toggle.active .arrow {
  border-color: #ACD157;
  transform: rotate(-135deg);
}
#sidebar .collapse-content {
  display: none;
  border-left: 4px solid #e8eae8;
  background: #fafbfa;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
#sidebar .collapse-content.in {
  display: block;
}
#sidebar .collapse-content a {
  padding: 8px 8px 8px 16px;
}
#sidebar .collapse-content a:hover, #sidebar .collapse-content a:active, #sidebar .collapse-content a:focus {
  background: rgba(247, 232, 133, 0.5);
}
#sidebar .collapse-content a.active {
  background: #F7E885;
}

.btn.success {
  background: #97b84d;
  box-shadow: 0 2px 0 #8faf49;
  margin-top: -2px;
}
.btn.success:hover, .btn.success:active {
  background: #89a843;
}
.btn.success:hover {
  box-shadow: 0;
}
.btn.info {
  background: #408BAA;
  box-shadow: 0 2px 0 #3d84a2;
  margin-top: -2px;
}
.btn.info:hover, .btn.info:active {
  background: #397c97;
}
.btn.info:hover {
  box-shadow: 0;
}
.btn.warning {
  background: #FFE66D;
  box-shadow: 0 2px 0 #f2db68;
  margin-top: -2px;
  color: #4d4521;
}
.btn.warning:hover, .btn.warning:active {
  background: #ffe254;
}
.btn.warning:hover {
  box-shadow: 0;
}
.btn.danger {
  background: #e26d5c;
  box-shadow: 0 2px 0 #d76857;
  margin-top: -2px;
}
.btn.danger:hover, .btn.danger:active {
  background: #de5a46;
}
.btn.danger:hover {
  box-shadow: 0;
}
.btn.cancel {
  background: #999;
  box-shadow: 0 2px 0 #919191;
  margin-top: -2px;
}
.btn.cancel:hover, .btn.cancel:active {
  background: #8c8c8c;
}
.btn.cancel:hover {
  box-shadow: 0;
}

.font-tiny {
  font-size: 12px;
  font-size: 0.75rem;
}

.font-sm, .uploaded .btn-del i, .uploaded, .pager, .table-head, .breadcrumb, [class*=label-] {
  font-size: 14px;
  font-size: 0.875rem;
}

.font-md, .navbar, #sidebar .collapse-content a {
  font-size: 15px;
  font-size: 0.9375rem;
}

.font-lg, .uploaded .btn-del {
  font-size: 18px;
  font-size: 1.125rem;
}

.font-xl {
  font-size: 24px;
  font-size: 1.5rem;
}

.font-xxl {
  font-size: 32px;
  font-size: 2rem;
}

.font-xxxl {
  font-size: 48px;
  font-size: 3rem;
}

.font-jumbo {
  font-size: 64px;
  font-size: 4rem;
}

.checkbox, .radio {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.checkbox + .icon, .radio + .icon {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  outline: none;
  user-select: none;
  margin: 0;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, background ease-in-out 0.2s;
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  width: 20.8px;
  height: 20.8px;
}
.checkbox:hover + .icon, .radio:hover + .icon {
  border-color: #ebd464;
}
.checkbox[disabled] + .icon, .radio[disabled] + .icon {
  cursor: not-allowed;
}

.checkbox + .icon:before {
  opacity: 0;
  color: #ebd464;
  line-height: 20.8px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.checkbox:hover + .icon:before {
  opacity: 0.6;
}
.checkbox:checked + .icon {
  border-color: #ebd464;
  background: #ebd464;
}
.checkbox:checked + .icon:before {
  opacity: 1;
  color: #fff;
}

.radio:checked + .icon {
  box-shadow: 0 0 0 3px rgba(235, 212, 100, 0.45), 0 0 0 1px #ebd464;
  border: 3px solid #fff;
  background: #ebd464;
}

.control-group-stacked, .control-group {
  cursor: pointer;
  line-height: 20.8px;
}
.control-group-stacked .icon, .control-group .icon {
  margin-right: 0.1em;
}

.control-group {
  display: inline-block;
}
.control-group:not(:last-of-type) {
  margin-right: 0.6em;
}
.control-group-stacked {
  display: block;
}
.control-group-stacked:not(:last-of-type) {
  margin-bottom: 0.6em;
}

.arrow {
  display: inline-block;
  border: solid #ACD157;
  border-width: 0 2px 2px 0;
  padding: 4px;
  transition: 0.35s ease;
}
.arrow.right {
  transform: rotate(-45deg);
}
.arrow.left {
  transform: rotate(135deg);
}
.arrow.up {
  transform: rotate(-135deg);
}
.arrow.down {
  transform: rotate(45deg);
}

.dropdown {
  position: relative;
}
.dropdown-content {
  position: absolute;
  top: 110%;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content.search-box {
  min-width: 300px;
  padding: 8px 8px 0;
}
.dropdown-content.search-box .select {
  overflow-y: auto;
  max-height: 280px;
  margin-left: -8px;
  margin-right: -8px;
}
.dropdown .arrow {
  border-color: inherit;
  position: relative;
  top: -4px;
}
.dropdown a {
  display: block;
}
.dropdown a:hover, .dropdown a.active {
  background: #faf0b0;
}
[class*=label-] {
  border-radius: 2px;
  display: inline-block;
  padding: 0.2em 0.3em;
  line-height: 1.2;
}
[class*=label-]:not(:only-child) {
  margin: 0.2em;
}

.label-success, .panel-success {
  background: #d6e8ab;
  color: #5a6148;
  border: 1px solid #c6d79e;
}

.label-info, .panel-info {
  background: #c2dae4;
  color: #515c60;
  border: 1px solid #b3cad3;
}

.label-warning, .panel-warning {
  background: #fff4bf;
  color: #6b6650;
  border: 1px solid #ece2b1;
}

.label-danger, .panel-danger {
  background: #f1b6ae;
  color: #654c49;
  border: 1px solid #dfa8a1;
}

.label-muted {
  background: #e3e8e3;
  color: #5f615f;
  border: 1px solid #d2d7d2;
}

.label-back {
  background: #555;
  color: #eeeeee;
  border: 1px solid #4f4f4f;
}

.list-line li:not(:last-child) {
  border-bottom: 1px dashed #ddd;
}

.breadcrumb {
  color: #8b8b8b;
}
.breadcrumb li:not(:last-child):after {
  content: "/";
}

.title h2 {
  font-size: 28px;
  font-size: 1.75rem;
}
.title small {
  color: #cad4ca;
}

.table-head {
  background: #eaeaea;
  color: #848484;
}
.table-head .label {
  vertical-align: middle;
}
.table-head .form-element {
  font-size: inherit;
}

.table-list {
  width: 100%;
}
.table-list caption {
  background: #F2F7FA;
  color: #818A91;
  font-size: 1.1875em;
}
.table-list thead, .table-list > th {
  background: #366767;
}
.table-list > th {
  border-bottom-width: 2px;
}
.table-list .item-edit {
  min-width: 54px;
}

.th-sort-toggle {
  position: relative;
  width: 100%;
  text-align: inherit;
  transition: color 0.3s;
}
.th-sort-toggle:hover {
  color: #ffefa0;
}
.th-sort-toggle:before, .th-sort-toggle:after {
  position: absolute;
  right: 0;
  top: 50%;
  border: 4px solid transparent;
}
.th-sort-toggle:before, .th-sort-toggle:after {
  content: "";
  display: block;
}

.th-sort-toggle:before {
  margin-top: -9px;
  border-top-width: 2px;
  border-bottom: 6px solid rgba(255, 255, 255, 0.3);
}
.th-sort-toggle:after {
  border-bottom-width: 2px;
  border-top: 6px solid rgba(255, 255, 255, 0.3);
}
.th-sort-toggle.asc:before {
  border-bottom-color: rgba(255, 255, 255, 0.8);
}
.th-sort-toggle.asc:after {
  border-top-color: rgba(255, 255, 255, 0.1);
}
.th-sort-toggle.desc:after {
  border-top-color: rgba(255, 255, 255, 0.8);
}
.th-sort-toggle.desc:before {
  border-bottom-color: rgba(255, 255, 255, 0.1);
}

.table-foot {
  padding: 6px;
  background: #e7e7e7;
}

@media (max-width: 35.4375em) {
  .pager {
    clear: both;
  }
}
.pager input, .pager button {
  height: 22px;
}
.pager button {
  margin: 0 1px;
  border: 1px solid #e7e7e7;
  transition: 0.35s;
}
.pager button[disabled] {
  color: #cecece;
}
.pager button:not([disabled]) {
  color: #c4c4c4;
}
.pager button:not([disabled]):hover, .pager button:not([disabled]):active {
  background: #c4c4c4;
}
.pager input {
  padding: 0;
  width: 80px;
}

legend.underline, legend.title {
  font-size: 1.125em;
  border-bottom-style: dashed;
}

.submit-bar {
  border-top: 2px solid #d4d4d4;
  background: #e7e7e7;
  margin-top: 1.875em;
  padding: 16px 16px 18px 0;
}
@media (max-width: 47.999em) {
  .submit-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 18px 16px 20px;
  }
}
.submit-bar.fixed-bottom {
  position: fixed;
  left: 220px;
  right: 0;
  bottom: 0;
  padding: 18px 16px 20px;
}
@media (min-width: 48.0625em) {
  .submit-bar .btn:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.input-file [type=file] {
  height: auto;
}
.input-file .upload {
  cursor: pointer;
  display: block;
}
.input-file .upload:not(:empty) {
  border: 1px solid #ddd;
  padding: 1px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.input-file .upload:not(:empty):hover, .input-file .upload:not(:empty):active {
  border-color: #0e6868;
}

.uploaded {
  position: relative;
  border: 1px solid #eee;
  color: #aaa;
  padding: 4px 20px 4px 4px;
}
.uploaded img {
  width: auto;
  height: 38px;
}
.uploaded .btn-del {
  opacity: 0.7;
  text-shadow: 1px 1px 0 #fff;
  border: none;
  outline: none;
  position: absolute;
  right: -5px;
  top: -5px;
}
.uploaded .btn-del i {
  text-shadow: none;
  font-style: normal;
  opacity: 1;
  min-width: 115px;
  left: -15px;
}

.react-datepicker-popper {
  z-index: 99;
}

.list-link {
  counter-reset: num;
}
.list-link a {
  display: block;
  padding-left: 45px;
  background: #F4F6F4;
  border: 1px solid #59e9e9;
  position: relative;
}
.list-link a:before {
  content: "counter(num)";
  display: block;
  counter-increment: num;
  width: 35px;
  height: 100%;
  background: #e6ebe6;
  border-right: 1px solid #59e9e9;
  transition: background 0.15s;
  position: absolute;
  left: 0;
  top: 0;
}
.list-link a:hover {
  color: #fff;
  background: #149595;
}
.list-link a:hover:before {
  background: #0e6868;
  border-right-color: #F4F6F4;
}
