.cells {
  display: table;
  width: 100%;
}

.cell {
  display: table-cell;
}

.row {
  margin: 0 -8px 0.9375em -8px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*=col-], [class*=flex-] {
  padding-left: 8px;
  padding-right: 8px;
}

.flexs {
  margin: 0 -8px 12px -8px;
  display: flex;
  flex-wrap: wrap;
}

.flex {
  flex: 1;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

[class*=col-] {
  display: block;
  position: relative;
  min-height: 1px;
}

.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  float: left;
}

.col-1, .flex-1 {
  width: 8.33%;
}

.push-1 {
  left: 8.33%;
}

.pull-1 {
  right: 8.33%;
}

.offset-1 {
  margin-left: 8.33%;
}

.col-2, .flex-2 {
  width: 16.66%;
}

.push-2 {
  left: 16.66%;
}

.pull-2 {
  right: 16.66%;
}

.offset-2 {
  margin-left: 16.66%;
}

.col-3, .flex-3 {
  width: 25%;
}

.push-3 {
  left: 25%;
}

.pull-3 {
  right: 25%;
}

.offset-3 {
  margin-left: 25%;
}

.col-4, .flex-4 {
  width: 33.33%;
}

.push-4 {
  left: 33.33%;
}

.pull-4 {
  right: 33.33%;
}

.offset-4 {
  margin-left: 33.33%;
}

.col-5, .flex-5 {
  width: 41.66%;
}

.push-5 {
  left: 41.66%;
}

.pull-5 {
  right: 41.66%;
}

.offset-5 {
  margin-left: 41.66%;
}

.col-6, .flex-6 {
  width: 50%;
}

.push-6 {
  left: 50%;
}

.pull-6 {
  right: 50%;
}

.offset-6 {
  margin-left: 50%;
}

.col-7, .flex-7 {
  width: 58.33%;
}

.push-7 {
  left: 58.33%;
}

.pull-7 {
  right: 58.33%;
}

.offset-7 {
  margin-left: 58.33%;
}

.col-8, .flex-8 {
  width: 66.66%;
}

.push-8 {
  left: 66.66%;
}

.pull-8 {
  right: 66.66%;
}

.offset-8 {
  margin-left: 66.66%;
}

.col-9, .flex-9 {
  width: 75%;
}

.push-9 {
  left: 75%;
}

.pull-9 {
  right: 75%;
}

.offset-9 {
  margin-left: 75%;
}

.col-10, .flex-10 {
  width: 83.33%;
}

.push-10 {
  left: 83.33%;
}

.pull-10 {
  right: 83.33%;
}

.offset-10 {
  margin-left: 83.33%;
}

.col-11, .flex-11 {
  width: 91.66%;
}

.push-11 {
  left: 91.66%;
}

.pull-11 {
  right: 91.66%;
}

.offset-11 {
  margin-left: 91.66%;
}

.col-12, .flex-12 {
  width: 100%;
}

@media (min-width: 30em) {
  .col-xs-1, .flex-xs-1 {
    width: 8.33%;
  }

  .push-xs-1 {
    left: 8.33%;
  }

  .pull-xs-1 {
    right: 8.33%;
  }

  .offset-xs-1 {
    margin-left: 8.33%;
  }

  .col-xs-2, .flex-xs-2 {
    width: 16.66%;
  }

  .push-xs-2 {
    left: 16.66%;
  }

  .pull-xs-2 {
    right: 16.66%;
  }

  .offset-xs-2 {
    margin-left: 16.66%;
  }

  .col-xs-3, .flex-xs-3 {
    width: 25%;
  }

  .push-xs-3 {
    left: 25%;
  }

  .pull-xs-3 {
    right: 25%;
  }

  .offset-xs-3 {
    margin-left: 25%;
  }

  .col-xs-4, .flex-xs-4 {
    width: 33.33%;
  }

  .push-xs-4 {
    left: 33.33%;
  }

  .pull-xs-4 {
    right: 33.33%;
  }

  .offset-xs-4 {
    margin-left: 33.33%;
  }

  .col-xs-5, .flex-xs-5 {
    width: 41.66%;
  }

  .push-xs-5 {
    left: 41.66%;
  }

  .pull-xs-5 {
    right: 41.66%;
  }

  .offset-xs-5 {
    margin-left: 41.66%;
  }

  .col-xs-6, .flex-xs-6 {
    width: 50%;
  }

  .push-xs-6 {
    left: 50%;
  }

  .pull-xs-6 {
    right: 50%;
  }

  .offset-xs-6 {
    margin-left: 50%;
  }

  .col-xs-7, .flex-xs-7 {
    width: 58.33%;
  }

  .push-xs-7 {
    left: 58.33%;
  }

  .pull-xs-7 {
    right: 58.33%;
  }

  .offset-xs-7 {
    margin-left: 58.33%;
  }

  .col-xs-8, .flex-xs-8 {
    width: 66.66%;
  }

  .push-xs-8 {
    left: 66.66%;
  }

  .pull-xs-8 {
    right: 66.66%;
  }

  .offset-xs-8 {
    margin-left: 66.66%;
  }

  .col-xs-9, .flex-xs-9 {
    width: 75%;
  }

  .push-xs-9 {
    left: 75%;
  }

  .pull-xs-9 {
    right: 75%;
  }

  .offset-xs-9 {
    margin-left: 75%;
  }

  .col-xs-10, .flex-xs-10 {
    width: 83.33%;
  }

  .push-xs-10 {
    left: 83.33%;
  }

  .pull-xs-10 {
    right: 83.33%;
  }

  .offset-xs-10 {
    margin-left: 83.33%;
  }

  .col-xs-11, .flex-xs-11 {
    width: 91.66%;
  }

  .push-xs-11 {
    left: 91.66%;
  }

  .pull-xs-11 {
    right: 91.66%;
  }

  .offset-xs-11 {
    margin-left: 91.66%;
  }

  .col-xs-12, .flex-xs-12 {
    width: 100%;
  }

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }

  .flex-xs {
    flex-basis: 0;
    flex-grow: 1px;
    max-width: 100%;
  }

  .flex-xs-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}
@media (min-width: 48em) {
  .col-sm-1, .flex-sm-1 {
    width: 8.33%;
  }

  .push-sm-1 {
    left: 8.33%;
  }

  .pull-sm-1 {
    right: 8.33%;
  }

  .offset-sm-1 {
    margin-left: 8.33%;
  }

  .col-sm-2, .flex-sm-2 {
    width: 16.66%;
  }

  .push-sm-2 {
    left: 16.66%;
  }

  .pull-sm-2 {
    right: 16.66%;
  }

  .offset-sm-2 {
    margin-left: 16.66%;
  }

  .col-sm-3, .flex-sm-3 {
    width: 25%;
  }

  .push-sm-3 {
    left: 25%;
  }

  .pull-sm-3 {
    right: 25%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .col-sm-4, .flex-sm-4 {
    width: 33.33%;
  }

  .push-sm-4 {
    left: 33.33%;
  }

  .pull-sm-4 {
    right: 33.33%;
  }

  .offset-sm-4 {
    margin-left: 33.33%;
  }

  .col-sm-5, .flex-sm-5 {
    width: 41.66%;
  }

  .push-sm-5 {
    left: 41.66%;
  }

  .pull-sm-5 {
    right: 41.66%;
  }

  .offset-sm-5 {
    margin-left: 41.66%;
  }

  .col-sm-6, .flex-sm-6 {
    width: 50%;
  }

  .push-sm-6 {
    left: 50%;
  }

  .pull-sm-6 {
    right: 50%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .col-sm-7, .flex-sm-7 {
    width: 58.33%;
  }

  .push-sm-7 {
    left: 58.33%;
  }

  .pull-sm-7 {
    right: 58.33%;
  }

  .offset-sm-7 {
    margin-left: 58.33%;
  }

  .col-sm-8, .flex-sm-8 {
    width: 66.66%;
  }

  .push-sm-8 {
    left: 66.66%;
  }

  .pull-sm-8 {
    right: 66.66%;
  }

  .offset-sm-8 {
    margin-left: 66.66%;
  }

  .col-sm-9, .flex-sm-9 {
    width: 75%;
  }

  .push-sm-9 {
    left: 75%;
  }

  .pull-sm-9 {
    right: 75%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .col-sm-10, .flex-sm-10 {
    width: 83.33%;
  }

  .push-sm-10 {
    left: 83.33%;
  }

  .pull-sm-10 {
    right: 83.33%;
  }

  .offset-sm-10 {
    margin-left: 83.33%;
  }

  .col-sm-11, .flex-sm-11 {
    width: 91.66%;
  }

  .push-sm-11 {
    left: 91.66%;
  }

  .pull-sm-11 {
    right: 91.66%;
  }

  .offset-sm-11 {
    margin-left: 91.66%;
  }

  .col-sm-12, .flex-sm-12 {
    width: 100%;
  }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .flex-sm {
    flex-basis: 0;
    flex-grow: 1px;
    max-width: 100%;
  }

  .flex-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}
@media (min-width: 64em) {
  .col-md-1, .flex-md-1 {
    width: 8.33%;
  }

  .push-md-1 {
    left: 8.33%;
  }

  .pull-md-1 {
    right: 8.33%;
  }

  .offset-md-1 {
    margin-left: 8.33%;
  }

  .col-md-2, .flex-md-2 {
    width: 16.66%;
  }

  .push-md-2 {
    left: 16.66%;
  }

  .pull-md-2 {
    right: 16.66%;
  }

  .offset-md-2 {
    margin-left: 16.66%;
  }

  .col-md-3, .flex-md-3 {
    width: 25%;
  }

  .push-md-3 {
    left: 25%;
  }

  .pull-md-3 {
    right: 25%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .col-md-4, .flex-md-4 {
    width: 33.33%;
  }

  .push-md-4 {
    left: 33.33%;
  }

  .pull-md-4 {
    right: 33.33%;
  }

  .offset-md-4 {
    margin-left: 33.33%;
  }

  .col-md-5, .flex-md-5 {
    width: 41.66%;
  }

  .push-md-5 {
    left: 41.66%;
  }

  .pull-md-5 {
    right: 41.66%;
  }

  .offset-md-5 {
    margin-left: 41.66%;
  }

  .col-md-6, .flex-md-6 {
    width: 50%;
  }

  .push-md-6 {
    left: 50%;
  }

  .pull-md-6 {
    right: 50%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .col-md-7, .flex-md-7 {
    width: 58.33%;
  }

  .push-md-7 {
    left: 58.33%;
  }

  .pull-md-7 {
    right: 58.33%;
  }

  .offset-md-7 {
    margin-left: 58.33%;
  }

  .col-md-8, .flex-md-8 {
    width: 66.66%;
  }

  .push-md-8 {
    left: 66.66%;
  }

  .pull-md-8 {
    right: 66.66%;
  }

  .offset-md-8 {
    margin-left: 66.66%;
  }

  .col-md-9, .flex-md-9 {
    width: 75%;
  }

  .push-md-9 {
    left: 75%;
  }

  .pull-md-9 {
    right: 75%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .col-md-10, .flex-md-10 {
    width: 83.33%;
  }

  .push-md-10 {
    left: 83.33%;
  }

  .pull-md-10 {
    right: 83.33%;
  }

  .offset-md-10 {
    margin-left: 83.33%;
  }

  .col-md-11, .flex-md-11 {
    width: 91.66%;
  }

  .push-md-11 {
    left: 91.66%;
  }

  .pull-md-11 {
    right: 91.66%;
  }

  .offset-md-11 {
    margin-left: 91.66%;
  }

  .col-md-12, .flex-md-12 {
    width: 100%;
  }

  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .flex-md {
    flex-basis: 0;
    flex-grow: 1px;
    max-width: 100%;
  }

  .flex-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}
@media (min-width: 75em) {
  .col-lg-1, .flex-lg-1 {
    width: 8.33%;
  }

  .push-lg-1 {
    left: 8.33%;
  }

  .pull-lg-1 {
    right: 8.33%;
  }

  .offset-lg-1 {
    margin-left: 8.33%;
  }

  .col-lg-2, .flex-lg-2 {
    width: 16.66%;
  }

  .push-lg-2 {
    left: 16.66%;
  }

  .pull-lg-2 {
    right: 16.66%;
  }

  .offset-lg-2 {
    margin-left: 16.66%;
  }

  .col-lg-3, .flex-lg-3 {
    width: 25%;
  }

  .push-lg-3 {
    left: 25%;
  }

  .pull-lg-3 {
    right: 25%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .col-lg-4, .flex-lg-4 {
    width: 33.33%;
  }

  .push-lg-4 {
    left: 33.33%;
  }

  .pull-lg-4 {
    right: 33.33%;
  }

  .offset-lg-4 {
    margin-left: 33.33%;
  }

  .col-lg-5, .flex-lg-5 {
    width: 41.66%;
  }

  .push-lg-5 {
    left: 41.66%;
  }

  .pull-lg-5 {
    right: 41.66%;
  }

  .offset-lg-5 {
    margin-left: 41.66%;
  }

  .col-lg-6, .flex-lg-6 {
    width: 50%;
  }

  .push-lg-6 {
    left: 50%;
  }

  .pull-lg-6 {
    right: 50%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .col-lg-7, .flex-lg-7 {
    width: 58.33%;
  }

  .push-lg-7 {
    left: 58.33%;
  }

  .pull-lg-7 {
    right: 58.33%;
  }

  .offset-lg-7 {
    margin-left: 58.33%;
  }

  .col-lg-8, .flex-lg-8 {
    width: 66.66%;
  }

  .push-lg-8 {
    left: 66.66%;
  }

  .pull-lg-8 {
    right: 66.66%;
  }

  .offset-lg-8 {
    margin-left: 66.66%;
  }

  .col-lg-9, .flex-lg-9 {
    width: 75%;
  }

  .push-lg-9 {
    left: 75%;
  }

  .pull-lg-9 {
    right: 75%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .col-lg-10, .flex-lg-10 {
    width: 83.33%;
  }

  .push-lg-10 {
    left: 83.33%;
  }

  .pull-lg-10 {
    right: 83.33%;
  }

  .offset-lg-10 {
    margin-left: 83.33%;
  }

  .col-lg-11, .flex-lg-11 {
    width: 91.66%;
  }

  .push-lg-11 {
    left: 91.66%;
  }

  .pull-lg-11 {
    right: 91.66%;
  }

  .offset-lg-11 {
    margin-left: 91.66%;
  }

  .col-lg-12, .flex-lg-12 {
    width: 100%;
  }

  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .flex-lg {
    flex-basis: 0;
    flex-grow: 1px;
    max-width: 100%;
  }

  .flex-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}
