@charset "UTF-8";
html {
  box-sizing: border-box;
  font-family: "Yantramanav", "微軟正黑體", "Microsoft JhengHei", "游明朝体", YuMincho, "游明朝", "Yu Mincho", "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

body {
  margin: 0 auto;
  background: #fff;
  color: #333;
  letter-spacing: 0.03em;
}

main {
  display: block;
}

h1 {
  font-size: 36px;
  margin: 0.67em 0;
}

h2 {
  font-size: 36px;
  font-size: 2.25rem;
}

h3 {
  font-size: 27px;
  font-size: 1.6875rem;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 1.25em 0;
  border: 0;
  border-top: 1px solid #ddd;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

a {
  background-color: transparent;
  color: #62B2C7;
  text-decoration: none;
  transition: color 0.35s, background 0.3s;
}
a:hover {
  color: #3a8da3;
}
a:not([href]):not([tabindex]) {
  color: inherit;
}
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

b, strong, .b, .strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  vertical-align: middle;
  border-style: none;
}

button {
  background: none;
  border: none;
}
button:focus {
  outline: 0;
}

button, input, optgroup, select, textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}

button, input {
  overflow: visible;
}
button[disabled], input[disabled] {
  cursor: not-allowed;
}

button, select {
  text-transform: none;
}

button,
[type=button],
[type=reset], [type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
}

dd {
  margin: 0;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  background: #62B2C7;
  color: #fff;
  transition: 0.15s;
  font-size: 17px;
  font-size: 1.0625rem;
  padding: 0.58em 2em;
  letter-spacing: 0.06em;
  position: relative;
}
.btn:hover, .btn:active, .btn:focus {
  background: #4ba7bf;
  color: #fff;
}
.btn:focus {
  outline: 0;
}
.btn:disabled, .btn.disabled {
  cursor: not-allowed;
  opacity: 0.65;
  background: #F2F2F2;
  color: #1a1a1a;
  content: 1.1;
}
.btn:not(:disabled):not(.disabled):focus {
  box-shadow: 0 0 0 0.2rem rgba(98, 178, 199, 0.3);
}
.btn:not(:disabled):not(.disabled):active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
}
.btn-stacked > .btn {
  display: block;
  width: 100%;
}
.btn-stacked > .btn:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.btn-group {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
}
.btn-group > .btn {
  letter-spacing: normal;
  vertical-align: top;
}
.btn-group > .btn:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-group-stacked > .btn {
  display: block;
  width: 100%;
  max-width: 100%;
}
.btn-group-stacked > .btn:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo, .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.sr-only-focusable, .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#footer:after, .wrap:after, .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

@media (min-width: 35.5em) {
  .pull-xs-left {
    float: left;
  }

  .pull-xs-right {
    float: right;
  }
}
@media (min-width: 48em) {
  .pull-sm-left {
    float: left;
  }

  .pull-sm-right {
    float: right;
  }
}
@media (min-width: 64em) {
  .pull-md-left {
    float: left;
  }

  .pull-md-right {
    float: right;
  }
}
@media (min-width: 75em) {
  .pull-lg-left {
    float: left;
  }

  .pull-lg-right {
    float: right;
  }
}
.clear {
  clear: both;
}

.rest {
  overflow: hidden;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.img-center {
  display: block;
  margin: auto;
}

.center, .wrap {
  margin-right: auto;
  margin-left: auto;
}

.circle {
  border-radius: 50%;
}

.hidden {
  display: none;
}

.disabled {
  cursor: not-allowed;
}

.full {
  width: 100%;
}

.max-full {
  max-width: 100%;
}

.m-0, .intro {
  margin: 0;
}

.mt-0, .slogan {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-s {
  margin: 0.5rem;
}

.mt-s {
  margin-top: 0.5rem;
}

.mr-s {
  margin-right: 0.5rem;
}

.mb-s {
  margin-bottom: 0.5rem;
}

.ml-s {
  margin-left: 0.5rem;
}

.mx-s {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.my-s {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-m {
  margin: 1rem;
}

.mt-m {
  margin-top: 1rem;
}

.mr-m {
  margin-right: 1rem;
}

.mb-m {
  margin-bottom: 1rem;
}

.ml-m {
  margin-left: 1rem;
}

.mx-m {
  margin-right: 1rem;
  margin-left: 1rem;
}

.my-m {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-l {
  margin: 1.5rem;
}

.mt-l {
  margin-top: 1.5rem;
}

.mr-l {
  margin-right: 1.5rem;
}

.mb-l, .article {
  margin-bottom: 1.5rem;
}

.ml-l {
  margin-left: 1.5rem;
}

.mx-l {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.my-l {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-xl {
  margin: 3rem;
}

.mt-xl {
  margin-top: 3rem;
}

.mr-xl {
  margin-right: 3rem;
}

.mb-xl {
  margin-bottom: 3rem;
}

.ml-xl {
  margin-left: 3rem;
}

.mx-xl {
  margin-right: 3rem;
  margin-left: 3rem;
}

.my-xl {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m-2 {
  margin: 0.125rem;
}

.mt-2 {
  margin-top: 0.125rem;
}

.mr-2 {
  margin-right: 0.125rem;
}

.mb-2 {
  margin-bottom: 0.125rem;
}

.ml-2 {
  margin-left: 0.125rem;
}

.mx-2 {
  margin-right: 0.125rem;
  margin-left: 0.125rem;
}

.my-2 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.m-5 {
  margin: 0.3125rem;
}

.mt-5 {
  margin-top: 0.3125rem;
}

.mr-5 {
  margin-right: 0.3125rem;
}

.mb-5 {
  margin-bottom: 0.3125rem;
}

.ml-5 {
  margin-left: 0.3125rem;
}

.mx-5 {
  margin-right: 0.3125rem;
  margin-left: 0.3125rem;
}

.my-5 {
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.m-10 {
  margin: 0.625rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.mr-10, .more:before {
  margin-right: 0.625rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.ml-10, .more:after {
  margin-left: 0.625rem;
}

.mx-10 {
  margin-right: 0.625rem;
  margin-left: 0.625rem;
}

.my-10 {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.m-15 {
  margin: 0.9375rem;
}

.mt-15 {
  margin-top: 0.9375rem;
}

.mr-15 {
  margin-right: 0.9375rem;
}

.mb-15 {
  margin-bottom: 0.9375rem;
}

.ml-15 {
  margin-left: 0.9375rem;
}

.mx-15 {
  margin-right: 0.9375rem;
  margin-left: 0.9375rem;
}

.my-15 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.m-20 {
  margin: 1.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.mr-20 {
  margin-right: 1.25rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}

.ml-20 {
  margin-left: 1.25rem;
}

.mx-20 {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

.my-20 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-30 {
  margin: 1.875rem;
}

.mt-30, .article h3 {
  margin-top: 1.875rem;
}

.mr-30 {
  margin-right: 1.875rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.ml-30 {
  margin-left: 1.875rem;
}

.mx-30 {
  margin-right: 1.875rem;
  margin-left: 1.875rem;
}

.my-30 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.m-60 {
  margin: 3.75rem;
}

.mt-60 {
  margin-top: 3.75rem;
}

.mr-60 {
  margin-right: 3.75rem;
}

.mb-60 {
  margin-bottom: 3.75rem;
}

.ml-60 {
  margin-left: 3.75rem;
}

.mx-60 {
  margin-right: 3.75rem;
  margin-left: 3.75rem;
}

.my-60 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.m-70 {
  margin: 4.375rem;
}

.mt-70 {
  margin-top: 4.375rem;
}

.mr-70 {
  margin-right: 4.375rem;
}

.mb-70 {
  margin-bottom: 4.375rem;
}

.ml-70 {
  margin-left: 4.375rem;
}

.mx-70 {
  margin-right: 4.375rem;
  margin-left: 4.375rem;
}

.my-70 {
  margin-top: 4.375rem;
  margin-bottom: 4.375rem;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-s {
  padding: 0.5rem;
}

.pt-s {
  padding-top: 0.5rem;
}

.pr-s {
  padding-right: 0.5rem;
}

.pb-s {
  padding-bottom: 0.5rem;
}

.pl-s {
  padding-left: 0.5rem;
}

.px-s {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.py-s {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-m {
  padding: 1rem;
}

.pt-m {
  padding-top: 1rem;
}

.pr-m {
  padding-right: 1rem;
}

.pb-m {
  padding-bottom: 1rem;
}

.pl-m {
  padding-left: 1rem;
}

.px-m {
  padding-right: 1rem;
  padding-left: 1rem;
}

.py-m {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-l {
  padding: 1.5rem;
}

.pt-l {
  padding-top: 1.5rem;
}

.pr-l {
  padding-right: 1.5rem;
}

.pb-l {
  padding-bottom: 1.5rem;
}

.pl-l {
  padding-left: 1.5rem;
}

.px-l {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.py-l {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-xl {
  padding: 3rem;
}

.pt-xl {
  padding-top: 3rem;
}

.pr-xl {
  padding-right: 3rem;
}

.pb-xl {
  padding-bottom: 3rem;
}

.pl-xl {
  padding-left: 3rem;
}

.px-xl {
  padding-right: 3rem;
  padding-left: 3rem;
}

.py-xl {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.p-2 {
  padding: 0.125rem;
}

.pt-2 {
  padding-top: 0.125rem;
}

.pr-2 {
  padding-right: 0.125rem;
}

.pb-2 {
  padding-bottom: 0.125rem;
}

.pl-2 {
  padding-left: 0.125rem;
}

.px-2 {
  padding-right: 0.125rem;
  padding-left: 0.125rem;
}

.py-2 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.p-5 {
  padding: 0.3125rem;
}

.pt-5 {
  padding-top: 0.3125rem;
}

.pr-5 {
  padding-right: 0.3125rem;
}

.pb-5 {
  padding-bottom: 0.3125rem;
}

.pl-5 {
  padding-left: 0.3125rem;
}

.px-5 {
  padding-right: 0.3125rem;
  padding-left: 0.3125rem;
}

.py-5, .list li {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.p-10 {
  padding: 0.625rem;
}

.pt-10 {
  padding-top: 0.625rem;
}

.pr-10 {
  padding-right: 0.625rem;
}

.pb-10 {
  padding-bottom: 0.625rem;
}

.pl-10 {
  padding-left: 0.625rem;
}

.px-10 {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
}

.py-10, .nav-link {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.p-15 {
  padding: 0.9375rem;
}

.pt-15 {
  padding-top: 0.9375rem;
}

.pr-15 {
  padding-right: 0.9375rem;
}

.pb-15 {
  padding-bottom: 0.9375rem;
}

.pl-15 {
  padding-left: 0.9375rem;
}

.px-15 {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.py-15 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.p-20 {
  padding: 1.25rem;
}

.pt-20 {
  padding-top: 1.25rem;
}

.pr-20 {
  padding-right: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.pl-20 {
  padding-left: 1.25rem;
}

.px-20 {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.py-20 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-30 {
  padding: 1.875rem;
}

.pt-30, .intro figcaption, #footer {
  padding-top: 1.875rem;
}

.pr-30 {
  padding-right: 1.875rem;
}

.pb-30 {
  padding-bottom: 1.875rem;
}

.pl-30 {
  padding-left: 1.875rem;
}

.px-30 {
  padding-right: 1.875rem;
  padding-left: 1.875rem;
}

.py-30, .service {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.p-60 {
  padding: 3.75rem;
}

.pt-60 {
  padding-top: 3.75rem;
}

.pr-60 {
  padding-right: 3.75rem;
}

.pb-60 {
  padding-bottom: 3.75rem;
}

.pl-60 {
  padding-left: 3.75rem;
}

.px-60 {
  padding-right: 3.75rem;
  padding-left: 3.75rem;
}

.py-60 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.p-70 {
  padding: 4.375rem;
}

.pt-70 {
  padding-top: 4.375rem;
}

.pr-70 {
  padding-right: 4.375rem;
}

.pb-70 {
  padding-bottom: 4.375rem;
}

.pl-70 {
  padding-left: 4.375rem;
}

.px-70 {
  padding-right: 4.375rem;
  padding-left: 4.375rem;
}

.py-70 {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center, .lawyers, #footer {
  text-align: center;
}

.text-nowrap {
  white-space: nowrap;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.font-normal, .lawyer, .slogan {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-norm {
  font-style: normal;
}

.font-italic {
  font-style: italic;
}

@media (min-width: 35.5em) {
  .text-xs-left {
    text-align: left;
  }

  .text-xs-right {
    text-align: right;
  }

  .text-xs-center {
    text-align: center;
  }
}
@media (min-width: 48em) {
  .text-sm-left {
    text-align: left;
  }

  .text-sm-right {
    text-align: right;
  }

  .text-sm-center {
    text-align: center;
  }
}
@media (min-width: 64em) {
  .text-md-left {
    text-align: left;
  }

  .text-md-right {
    text-align: right;
  }

  .text-md-center {
    text-align: center;
  }
}
@media (min-width: 75em) {
  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

  .text-lg-center {
    text-align: center;
  }
}
.font-tiny {
  font-size: 12px;
  font-size: 0.75rem;
}

.font-sm, .copyright, .head-info {
  font-size: 14px;
  font-size: 0.875rem;
}

.font-md {
  font-size: 15px;
  font-size: 0.9375rem;
}

.font-lg, .article p, .foot-info {
  font-size: 17px;
  font-size: 1.0625rem;
}

.font-xl, .callus {
  font-size: 27px;
  font-size: 1.6875rem;
}

.font-xxl, .title {
  font-size: 34px;
  font-size: 2.125rem;
}

.font-xxxl {
  font-size: 48px;
  font-size: 3rem;
}

.font-jumbo {
  font-size: 64px;
  font-size: 4rem;
}

.list-unstyled, .list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline > li {
  display: inline-block;
}
.list-inline > li:not(:last-child) {
  margin-right: 5px;
}

.text-white, .slogan, .foot-info a, #footer, .nav-link {
  color: #fff;
}

a.text-white:hover, a.slogan:hover, .foot-info a:hover, a#footer:hover, a.nav-link:hover, a.text-white:focus, a.slogan:focus, .foot-info a:focus, a#footer:focus, a.nav-link:focus, .hover-white:hover, .hover-white:focus {
  color: #d9d9d9;
}

.bg-white {
  background: #fff;
}

.text-primary, .hover-primary {
  color: #62B2C7;
}

a.text-primary:hover, a.text-primary:focus, .hover-primary:hover, .hover-primary:focus {
  color: #5397a9;
}

.bg-primary {
  background: #62B2C7;
}

.text-secondary, .hover-secondary {
  color: #1A292E;
}

a.text-secondary:hover, a.text-secondary:focus, .hover-secondary:hover, .hover-secondary:focus {
  color: #162327;
}

.bg-secondary {
  background: #1A292E;
}

.text-success, .hover-success {
  color: #34C0C7;
}

a.text-success:hover, a.text-success:focus, .hover-success:hover, .hover-success:focus {
  color: #2ca3a9;
}

.bg-success {
  background: #34C0C7;
}

.text-info, .hover-info {
  color: #62B2C7;
}

a.text-info:hover, a.text-info:focus, .hover-info:hover, .hover-info:focus {
  color: #5397a9;
}

.bg-info, .info {
  background: #62B2C7;
}

.text-warning, .hover-warning {
  color: #F79709;
}

a.text-warning:hover, a.text-warning:focus, .hover-warning:hover, .hover-warning:focus {
  color: #d28008;
}

.bg-warning {
  background: #F79709;
}

.text-danger, .hover-danger {
  color: #ee5a24;
}

a.text-danger:hover, a.text-danger:focus, .hover-danger:hover, .hover-danger:focus {
  color: #ca4d1f;
}

.bg-danger {
  background: #ee5a24;
}

.text-muted, .hover-muted {
  color: #F2F2F2;
}

a.text-muted:hover, a.text-muted:focus, .hover-muted:hover, .hover-muted:focus {
  color: #cecece;
}

.bg-muted {
  background: #F2F2F2;
}

.underline {
  border-bottom: 1px solid #ddd;
}

.bordered {
  border: 1px solid;
}

.help {
  color: #ee5a24;
  cursor: help;
}

/*      layout
-----------------------------------------------------------------------*/
.wrap {
  max-width: 1400px;
}
@media (max-width: 90em) {
  .wrap {
    padding-left: 10px;
    padding-left: 0.625rem;
    padding-right: 10px;
    padding-right: 0.625rem;
  }
}

html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  padding-bottom: 190px;
}

#header {
  position: relative;
  z-index: 3;
}
#header:before {
  position: absolute;
  width: 100%;
  height: 36px;
  background: #1a1a1a;
}
#banner:before, .nav-link:before, #header:before {
  content: "";
  display: block;
}

.logo {
  cursor: pointer;
  background: url(../images/index/logo.png) 0 0 no-repeat;
  width: 738px;
  height: 164px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 274px;
}
@media (max-width: 63.999em) {
  .logo {
    max-width: 96%;
    background-size: contain;
    top: 140px;
  }
}

.nav-link {
  position: relative;
  display: inline-block;
  font-family: "Yantramanav", "Noto Serif TC", serif;
  letter-spacing: 0.2em;
  font-size: 21px;
  font-size: 1.3125rem;
}
.nav-link:before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -4px;
  border-top: 3px solid #34C0C7;
  width: 0;
  opacity: 0;
  transition: width 0.35s, opacity 0.5s;
}
@media (min-width: 48em) {
  .nav-link {
    margin-left: 15px;
    padding-left: 20px;
    padding-right: 13px;
  }
}
@media (max-width: 47.9375em) {
  .nav-link {
    text-align: center;
    margin-right: -4px;
    width: 20%;
  }
}
.nav-link.active:before, .nav-link:hover:before {
  opacity: 1;
  width: 100%;
}

.head-info {
  line-height: 36px;
  position: relative;
  z-index: 1;
  background: url(../images/icon-phone.gif) 0 center no-repeat;
  padding-left: 24px;
}
.head-info a {
  color: #fff;
}
.head-info a:not(:last-child):after {
  content: "/";
  opacity: 0.4;
  margin: 0 5px 0 9px;
  font-size: 120%;
}
.head-info a:hover {
  color: #cccccc;
}

#footer {
  min-height: 190px;
  margin-top: -190px;
  position: relative;
  z-index: 2;
  background: #1A292E url(../images/icon-foot.gif) bottom center no-repeat;
}
@media (max-width: 87.4375em) {
  #footer {
    padding-left: 10px;
    padding-left: 0.625rem;
    padding-right: 10px;
    padding-right: 0.625rem;
  }
}

.foot-info li {
  display: inline;
}
.foot-info li:not(:last-child):after {
  content: "/";
  opacity: 0.4;
  margin: 0 6px 0 14px;
  font-size: 1.3333333333em;
}
.foot-info a {
  border-bottom: 0 dotted rgba(255, 255, 255, 0);
  transition: border-bottom 0.15s;
}
.foot-info a:hover, .foot-info a:active {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}

.copyright {
  opacity: 0.5;
}

.btn.outline {
  background-color: transparent;
  border: 1px solid #62B2C7;
  color: #62B2C7;
}
.btn:after {
  content: "";
  color: inherit;
  font-family: "Material Icons";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  opacity: 0;
  transition: 0.3s;
}
.btn:hover, .btn:focus {
  text-indent: -10px;
  padding-right: 44px;
}
.btn:hover:after, .btn:focus:after {
  opacity: 1;
}

.title {
  border-bottom: 3px solid #F2F2F2;
}

.font-sp, .article h3 {
  font-family: "Yantramanav", "Noto Serif TC", serif;
  font-weight: normal;
}

.more {
  letter-spacing: 0.1em;
  margin-left: -14px;
}
.more:before, .more:after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.35s, opacity 0.15s;
}
.more:before {
  content: "[";
  transform: translate(20px);
}
.more:after {
  content: "]";
  transform: translate(-20px);
}
.more:hover:before, .more:hover:after, .more:focus:before, .more:focus:after {
  opacity: 1;
  transform: translate(0);
}

.callus {
  display: inline-block;
  padding: 16px 48px 16px 84px;
  border: 1px solid #ddd;
  background: url(../images/icon-call.gif) 48px center no-repeat;
  color: #333;
  transition: 0.3s;
}
.callus:hover, .callus:focus, .callus:active {
  border-color: #62B2C7;
  color: #333;
}

.list {
  line-height: 1.5;
}
.list li {
  border-bottom: 1px dashed #ddd;
}

#banner {
  width: 100%;
  top: -46px;
  margin-bottom: -46px;
  background: #000;
}
#banner:before {
  position: absolute;
  width: 100%;
  height: 216px;
  z-index: 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0));
}
#banner .swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  min-height: 420px;
}
@media (min-width: 64em) {
  #banner .swiper-slide {
    min-height: 790px;
  }
}

.slogan {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  line-height: 1.43;
  letter-spacing: 0.15em;
  position: absolute;
  left: 30px;
  right: 30px;
  top: 438px;
}
@media (max-width: 63.999em) {
  .slogan {
    top: 230px;
  }
}
@media (max-width: 47.999em) {
  .slogan {
    font-size: 1.6875rem;
  }
}

.service ul {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 0 4px 65px;
  margin-right: 35px;
  background: url(../images/icon-quot.gif) 0 -5px no-repeat;
}
.service li:not(:last-child):after {
  content: "/";
  opacity: 0.1;
  margin-left: 15px;
  font-size: 130%;
}

.info {
  margin: 0;
}

.lawyers {
  background: #F2F2F2 url(../images/badge.gif) center 65% no-repeat;
  border-top: 3px solid #62B2C7;
  padding-top: 45px;
}
@media (max-width: 63.9375em) {
  .lawyers {
    padding-top: 24px;
    width: 100%;
  }
}
.lawyers header {
  font-size: 85px;
  font-size: 5.3125rem;
  text-shadow: 1px 3px 0 rgba(191, 216, 215, 0.5);
  letter-spacing: 0.04em;
}
@media (max-width: 47.999em) {
  .lawyers header {
    font-size: 4rem;
  }
}
@media (max-width: 35.5em) {
  .lawyers header {
    font-size: 3.25rem;
  }
}

.intro {
  position: relative;
}
.intro figcaption {
  position: absolute;
  left: 1.25em;
  right: 1.25em;
  top: 0;
  height: 100%;
  background: rgba(242, 242, 242, 0.95);
  line-height: 1.7;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
@media (max-width: 63.9375em) {
  .intro figcaption {
    padding-top: 0;
  }
}
.intro:hover figcaption {
  opacity: 1;
  visibility: visible;
}

.lawyer {
  letter-spacing: 0.15em;
  font-size: 58px;
  font-size: 3.625rem;
}
.lawyer small {
  font-size: 46%;
}
@media (max-width: 63.9375em) {
  .lawyer {
    margin-top: 0;
    margin-bottom: 80px;
  }
}

.contents {
  padding: 30px 16px;
}
.contents .title {
  padding: 0 24px 16px;
  margin-left: -16px;
  margin-right: -16px;
}
@media (min-width: 48em) {
  .contents {
    padding: 70px 50px;
  }
  .contents .title {
    padding: 0 56px 16px;
    margin-left: -50px;
    margin-right: -50px;
  }
}

.article {
  cursor: pointer;
}
.article h3 {
  transition: 0.3s;
}
@media (min-width: 48em) {
  .article h3 {
    margin-top: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}
.article p {
  line-height: 1.65;
}
.article:hover h3 {
  letter-spacing: 0.1em;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #7DDCE0;
}

/*# sourceMappingURL=index.css.map */
