@charset "UTF-8";

// == config
// ----------------------------------------------------------------------
$enable-RWD:                     true !default;
$lte7:                           false !default;

$colors: (
    primary:   #25BB8D,
    secondary: #175361,
    muted:     #aaa,
    success:   #7BD160,
    info:      #007BA1,
    warning:   #C7EC99,
    danger:    #FF5F73
) !default;

 // color plug-in use in function,mixins
$luminance:                      .65 !default; // 亮度
$contrast:                       3.9 !default; // 對比-因為計算沒很準


// == common
// ----------------------------------------------------------------------
$border-width:                   1px !default;
$border-color:                   #ddd !default;
$border-radius:                  .25em !default;

$component-active:               color() !default;
$cursor-disabled:                not-allowed !default;
$transition-duration:            .15s !default; // effect times


// == base
// -----------------------------------------------------------------

// font
$font-size-base:                 16px !default;
$line-height-base:               1.2 !default;
$font-family-sp:                 false !default;
$font-family:                    "微軟正黑體", "Microsoft JhengHei", '游明朝体', YuMincho, '游明朝', 'Yu Mincho', "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", sans-serif !default;
$font-family-base:               if($font-family-sp, append($font-family-sp, $font-family, comma), $font-family) !default;

// <body>
$body-bg:                        #fff !default;
$body-color:                     #4d4d4d !default;
$body-letter-spacing:            .03em !default;

// <h1>
$font-size-h1:                   $font-size-base * 2.25 !default;   // 36px
$h1-margin:                      .67em 0 !default;

// <heading>
$headings:                       null !default;

// <hr>
$hr-border:                      $border-width solid $border-color !default;
$hr-margin:                      1.25em 0 !default;

// <a>
$link-color:                     color() !default;
$link-decoration:                none !default;
$link-hover-color:               darken($link-color, 15) !default;
$link-hover-decoration:          false !default;
$link-transition:                color .35s, background .3s !default;

// <button>
$button-focus:                   0 !default; // button:focus {outline:0;}


// == table
// -----------------------------------------------------------------
$table-color:                    false !default;
$table-bg:                       false !default;
$table-border-color:             $border-color !default;

$table-cell-border:              $border-width solid $table-border-color !default;
$table-cell-border-width:        0 0 $border-width !default;
$table-cell-padding:             .35em .3em !default;

// 滑鼠移過變色
$table-bg-hover:                 #fffFD7 !default;

// 斑馬紋條列式表格
$table-bg-striped:               #f8f9fa !default; // #f9f9f9
$table-bg-active:                false !default;
$table-striped-list:             'even' !default;   // even, odd

$table-rwd:                      true !default;


// == Buttons + Forms
// -----------------------------------------------------------------
$input-btn-height:               28px !default;
$input-btn-font-size:            15px !default;
$input-btn-line-height:          $line-height-base !default; // base:1.2
$input-btn-padding-x:            1.4 !default; // padding-x 或 比例值(radio) 1:2.4

$input-btn-focus-width:          .2rem !default;
$input-btn-focus-opacity:        .3 !default;
$input-btn-focus-box-shadow:     0 0 0 $input-btn-focus-width rgba($component-active, $input-btn-focus-opacity) !default;

$input-btn-disabled-bg:          color(muted) !default;


// == btn
// -----------------------------------------------------------------
// 尺寸
$btn-height:                     $input-btn-height !default;
$btn-font-size:                  $input-btn-font-size !default;
$btn-line-height:                $input-btn-line-height !default;
$btn-padding-x:                  $input-btn-padding-x*1.7143 !default; // padding-x 或 比例值(radio) 1:2.4

$btn-bg:                         color() !default;
$btn-color:                      #fff !default;
$btn-radius:                     $border-radius !default;
$btn-transition:                 $transition-duration !default;

$btn-disabled-bg:                $input-btn-disabled-bg !default;
$btn-disabled-opacity:           .65 !default;

$btn-focus-shadow:               $input-btn-focus-box-shadow !default;
$btn-active-shadow:              inset 0 3px 5px rgba(#000, $input-btn-focus-opacity) !default;

$btn-stylus: () !default;
$btn-stylus: map-merge(
    (
        letter-spacing: .06em,
        is-hover: (
            background: darken($btn-bg, 6),
            color: $btn-color
        )
    ),
    $btn-stylus
);


// == form
// -----------------------------------------------------------------
$form-appearance:                none !default;
// 尺寸
$input-border-width:             $border-width !default;
$input-height:                   if($input-border-width, $input-btn-height - ($input-border-width * 2), $input-btn-height) !default; //if($input-border-width, $input-btn-height - ($input-border-width * 2), $input-btn-height)
$input-font-size:                $input-btn-font-size !default;
$input-line-height:              $input-btn-line-height !default;
$input-padding-x:                $input-btn-padding-x !default;

$input-bg:                       #fff !default;
$input-color:                    $body-color !default;
$input-border-color:             $border-color !default;
$input-border:                   $input-border-width solid $input-border-color !default;
$input-radius:                   $border-radius !default;
$input-transition:               border-color ease-in-out $transition-duration, box-shadow ease-in-out $transition-duration !default;

$input-inner-shadow:             inset 0 1px 1px rgba(#000,.075) !default;
$input-focus-shadow:             $input-btn-focus-box-shadow !default;

$input-disabled-bg:              $input-btn-disabled-bg !default;
$input-placeholder-color:        lighten($input-color, 40) !default;

$input-stylus: () !default;
$input-stylus: map-merge(
    (
        is-focus: (
            border-color: $component-active,
            box-shadow: if($input-inner-shadow, append(#{$input-inner-shadow}, $input-focus-shadow, comma), $input-focus-shadow),
            is-invalid: (
                border-color: color(danger),
                box-shadow: 0 0 0 $input-btn-focus-width rgba(color(danger), $input-btn-focus-opacity)
            )
        ),
        is-placeholder: (
            color: $input-placeholder-color,
            opacity: 1 // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
        ),
        is-disabled: ( // = readonly
            background-color: $input-disabled-bg,
            opacity: 1 // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
        )
    ),
    $input-stylus
);

$select-caret:                str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 8'%3e%3cpath fill='#{$input-placeholder-color}' d='M5.716 7.121l5.697-5.686-1.413-1.416-4.284 4.303-4.303-4.322-1.413 1.416 5.716 5.705z'/%3e%3c/svg%3e"), "#", "%23") !default;
$select-stylus: () !default;
$select-stylus: map-merge(
    (
        padding-right: 2em,
        background: $input-bg $select-caret no-repeat right 6px center / 10px 12px
    ),
    $select-stylus
);

$field-spacer:                15px !default;
$field-label-width:           160px !default;


// == util
// -----------------------------------------------------------------
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
    (
        0:   0,
        s:   $spacer*.5,     // 8px
        m:   $spacer,        // 16px
        l:   $spacer*1.5,    // 24px
        xl:  $spacer*3,      // 48px
        2:   $spacer*.125,   // 2px
        5:   $spacer*.3125,  // 5px
        10:  $spacer*.625,   // 10px
        15:  $spacer*.9375,  // 15px
        20:  $spacer*1.25,   // 20px
        30:  $spacer*1.875,  // 30px
        60:  $spacer*3.75,   // 60px
        70:  $spacer*4.375,  // 70px
    ),
    $spacers
);

$font-size: () !default;
$font-size: map-merge(
    (
        tiny:   12,
        sm:     14,
        md:     15,
        lg:     18,
        xl:     24,
        xxl:    32,
        xxxl:   48,
        jumbo:  64
    ),
    $font-size
);


// == grid, RWD
// -----------------------------------------------------------------
$gutter:                16px !default;
$grid-columns:          12 !default;
$grid-gap:              1.6 !default;

$mobile:                375px !default;  // 380px,
$phone:                 568px !default;  // 480px,
$tablet:                768px !default;  // 768px,
$desktop:               1024px !default; // 980px,
$wide:                  1200px !default;
$wider:                 1400px !default;

$breakpoints: () !default;
$breakpoints: map-merge(
    $breakpoints,
    (
        xs:  $phone,
        sm:  $tablet,
        md:  $desktop,
        lg:  $wide,
    )
);