@charset "UTF-8";

// 使用方法 四捨五入: decimal-round($number, 2) in function
// width: grid(1/12, 1.6); => width: 6.86%;
@function grid($width, $gap: false) {
    $percentage: percentage($width);

    // if $gap 有值並且無單位時(ex. 1.6), 因為有帶單位時，百分比會算不出來
    @if $gap and unitless($gap) {
        @return decimal-round( $percentage - ($gap - $width * $gap), 2, 'floor');
    }
    // $gap: false, null, 有單位的ex. 16px
    @else {
        @return decimal-round( $percentage, 2, 'floor');
    }
}

//These are the two mixins that do the work:
@mixin flexs($margin: 0 auto, $max-row-width: 100%) {
    @if $margin { margin: $margin; }
    @if $max-row-width { max-width: $max-row-width; }
    display: flex;
    flex-wrap: wrap;
}

@mixin make-grid-columns($columns: 12, $gap: $grid-gap, $breakpoints) {

    // 全營幕通用
    %grid-set {
        float: left;
    }
    @for $i from 1 through $columns {
        .col-#{$i} {
            @extend %grid-set;
        }
        .col-#{$i}, .flex-#{$i} {
            width: grid($i/$columns, $gap);
        }
        @if $i != $columns {
            @each $abbrev, $prop in ( push: left, pull: right, offset: margin-left ) {
                .#{$abbrev}-#{$i} {
                    #{$prop}: grid($i/$columns, false);

                    @if $gap {
                       .padding & {
                            // if $gap 無單位
                           #{$prop}: if(unitless($gap), grid($i/$columns, $gap) + $gap, calc(#{grid($i/$columns)} + #{$gap/2}));
                        }
                    }
                }
            }
        }
    }

    @each $breakpoint, $value in $breakpoints {

        @include mq($value) {
            $col-selector: ();
            $flex-selector: ();
            $modifier-selector: ();

            @for $i from 1 through $columns {
                $col-selector: $col-selector, '.col-#{$breakpoint}-#{$i}';
                $flex-selector: $flex-selector, '.flex-#{$breakpoint}-#{$i}';

                .col-#{$breakpoint}-#{$i}, .flex-#{$breakpoint}-#{$i} {
                    width: grid($i/$columns, $gap);
                }

                @if $i != $columns {
                   @each $abbrev, $prop in ( push: left, pull: right, offset: margin-left ) {
                       // .#{$abbrev}-#{$breakpoint}-#{$i} {
                       //      @if $gap and unitless($gap) { // if $gap是用百分比時
                       //          .padding #{$prop}: grid($i/$columns, $gap) + $gap;
                       //      }
                       //      @else {
                       //          .padding #{$prop}: calc(#{grid($i/$columns)} + #{$gap/2});
                       //      }
                       // }

                       .#{$abbrev}-#{$breakpoint}-#{$i} {
                           #{$prop}: grid($i/$columns, false);

                            @if $gap {
                               .padding & {
                                    // if $gap 無單位
                                   #{$prop}: if(unitless($gap), grid($i/$columns, $gap) + $gap, calc(#{grid($i/$columns)} + #{$gap/2}));
                                }
                            }
                       }
                   }
                }
            }

            #{$col-selector} {
                float: left;
            }

            // flex
            .flex-#{$breakpoint} {
                flex-basis: 0;
                flex-grow: 1px;
                max-width: 100%;
            }
            .flex-#{$breakpoint}-auto {
                flex: 0 0 auto;
                width: auto;
                max-width: 100%; // Reset earlier grid tiers
            }
        }
    }
}

